{% extends 'base.html' %}

{% block page_title %}
    <title>Program</title>
{% endblock %}


{% block content %}

    {% include 'blocks/header.html' with trainer=trainer %}

    <main class="content">
        <h1 class="h1_class">Ошибка 500</h1>
        <div>Произошла ошибка на сервере. Попробуйте совершить операцию позже</div>
    </main>

    {% if vk %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url vk=1 %}
    {% else %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url %}
    {% endif %}

{% endblock %}
