        <footer class="footer">
            <div class="shadows_t"></div>

            <div class="wr_all_foot_items">
                <div class="left_foot">
                    <ul>
                        <li class="ml_a"><a class="agreements_file" href="/static/files/agreement.docx" download>Конфиденциальность</a></li>
                        <li><a href="/rules/{% if vk %}vk/{% endif %}">Правила акции</a></li>
                    </ul>
                </div>

                <div class="center_foot">
                    <ul>
                        <li class="ml_a zak"><a href="javascript:void(0)" rel="popup3" class="open_popup">Задать вопрос</a></li>


                        <!-- ПОПАП ФОРМА -->
                        <div class="overlay"></div>
                        <div class="popup popup-con" id="popup3">
                            <span class="close"></span>
                            <form  method="post" action='/feedback/?next={{request.build_absolute_uri}}'>
                                {% csrf_token %}
                                <p class="zag_form_n_m cc_sa">Имя:</p>
                                <input class="type_text_s wi_d_512" type="text" name='name'>

                                <p class="zag_form_n_m cc_s">Сообщение:</p>
                                <textarea class="ta_za" name='message'>

                                </textarea>
                                <input class="blue_btn_sky gr_a fr" type="submit" value="Отправить сообщение">
                            </form>
                        </div>
                        <!-- ПОПАП ФОРМА -->

                        <li class="sound_off"><a href="javascript:void(0)" id="dynamic">Выключить звук</a></li>
                    </ul>
                </div>

                <div class="right_foot">
                    {% if vk %}
                        <div class="link_fraa fr">
                            <ul class="li_nka">
                                <li><a class="cloudsa" id="footer_vk_share" href="#">Расскажи друзьям</a></li>
                            </ul>
                            <span id="vk_share_url" style="display: none;">{{vk_share_url}}</span>
                            <script>
                                $('#footer_vk_share').on('click', function() {
                                    var parent = $($(this)[0]).parents('.link_fraa')[0];
                                    var info = $(parent).find('#vk_share_url');

                                    VK.api('wall.post',{
                                        message: "Nestle Fitness\nПопробуй и ты выиграть поездку на Бали!",
                                        attachments: "photo25962097_364101709," + info.html()
                                    });
                                    ga('send', 'share_vkapp', 'app');
                                })
                            </script>
                        </div>
                    {% else %}
                        <div class="aaq">
                            <span>Поделиться с друзьями</span>
                            <span id="site_yashare"></span>
                            <script>
                                new Ya.share({
                                    element: 'site_yashare',
                                    elementStyle: {
                                        type:'none',
                                        'quickServices': ['odnoklassniki', 'facebook', 'vkontakte']
                                    },
                                    title: 'Nestle Fitness',
                                    description: "Попробуй и ты выиграть поездку на Бали!",
                                    image: "//{{site_url}}/static/images/badges_social/general_social.jpg",
                                    link: "{{share_url}}",
                                    onshare: function (service) {
                                        $.ajax({
                                            url: '/api/share/'
                                        });
                                        ga('send', 'share_' + service, 'app');
                                    }
                                });
                            </script>
                        </div>
                    {% endif %}

                </div>

            </div>
        </footer>

<script type="text/javascript">
    $('.agreements_file'). on('click', function() {
        ga('send', 'download', 'agreement');
    })
</script>
