<header class="header">
    <div class="shadows"></div>
    <div class="left_wr_head_logo_block">
        <div class="logo_and_menu_wr">
            <div class="logo_s">
                <a href="/promo/{% if vk %}vk/{% endif %}" class="logo_link"><img src="/static/images/header_logo.png" alt=""></a>
            </div>

            <div class="menu_and_client_info">
                
                <div class="client_info">
                    <p class="inf_style">
                    {% if user.username %}
                    <a href="/anketa/{% if vk %}vk/{% endif %}">Здравствуйте, {% if user.first_name or user.last_name%}{{user.first_name}}{% else %}{{ user.username }}{% endif %}! Вы отправили <span id="statements">0</span> из 6 баллов</a>{% if not vk %}<a href="/logout/">Выход</a>{% endif %}
                    {% else %}
                        &nbsp;{% if vk %}{% else %}<a href="/login/">Войти</a>{% endif %}
                    {% endif %}
                    </p>
                </div>
                
                <div class="nav">
                    <ul>
                        <li><a id="link_about" href="/about/{% if vk %}vk/{% endif %}{% if trainer %}?trainer_id={{trainer.id}}{% endif %}" {% if is_about %}class="active"{% endif %}>О продукте</a></li>
                        <li><a id="link_trainers" href="/trainers/{% if vk %}vk/{% endif %}{% if trainer %}?trainer_id={{trainer.id}}{% endif %}"{% if is_trainers %}class="active"{% endif %}>тренеры </a></li>
                        <li><a id="link_diet" href="/diet/{% if vk %}vk/{% endif %}{% if trainer %}?trainer_id={{trainer.id}}{% if last_day %}&last_day={{last_day}}{% endif %}{% endif %}" {% if is_diet %}class="active"{% endif %}>Питание </a></li>
                        <li><a id="link_exercises" href="/exercises/{% if vk %}vk/{% endif %}{% if trainer %}?trainer_id={{trainer.id}}{% if last_day %}&last_day={{last_day}}{% endif %}{% endif %}" {% if is_exercises %}class="active"{% endif %}>УПРАЖНЕНИЯ</a></li>
                        <li><a id="link_diary" href="{% if user.username %}/diary/{% if vk %}vk/{% endif %}{% if trainer %}?trainer_id={{trainer.id}}{% if last_day %}&last_day={{last_day}}{% endif %}{% endif %}{% else %}{% if vk %}#{% else %}/registration/{% endif %}{% endif %}" {% if is_diary %}class="active"{% endif %}>ДНЕВНИК </a></li>
                        <li><a id="link_rating" href="/rating/{% if vk %}vk/{% endif %}{% if trainer %}?trainer_id={{trainer.id}}{% endif %}" {% if is_rating %}class="active"{% endif %}>РЕЙТИНГ</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="shkala_block" attr="{% if trainer %}{% if trainer_day > 0 %}{{ trainer_day }}{% else %}1{% endif %}{% else %}1{% endif %}">
            <!--шкала в шапке завязана на аттрибуте (attr).. сколько дней такое и значение -->
            <div class="gray_shkala_bl"></div>
            <div class="bl_wrappa">
                <div class="blue_line">
                    <a class="blue_lady" href{% if trainer %}="{{request.url}}?trainer_id={{trainer.id}}"{%endif%}></a>
                </div>
            </div>
            <div class="blue_tic">
                <div>
                    <a class="bl_l l_1" href{% if trainer %}="{{request.url}}?trainer_id={{trainer.id}}&last_day=1"{%endif%}></a>
                    <a class="bl_l l_2" href{% if trainer %}="{{request.url}}?trainer_id={{trainer.id}}&last_day=2"{%endif%}></a>
                    <a class="bl_l l_3" href{% if trainer %}="{{request.url}}?trainer_id={{trainer.id}}&last_day=3"{%endif%}></a>
                    <a class="bl_l l_4" href{% if trainer %}="{{request.url}}?trainer_id={{trainer.id}}&last_day=4"{%endif%}></a>
                    <a class="bl_l l_5" href{% if trainer %}="{{request.url}}?trainer_id={{trainer.id}}&last_day=5"{%endif%}></a>
                    <a class="bl_l l_6" href{% if trainer %}="{{request.url}}?trainer_id={{trainer.id}}&last_day=6"{%endif%}></a>
                    <a class="bl_l l_7" href{% if trainer %}="{{request.url}}?trainer_id={{trainer.id}}&last_day=7"{%endif%}></a>
                    <a class="bl_l l_8" href{% if trainer %}="{{request.url}}?trainer_id={{trainer.id}}&last_day=8"{%endif%}></a>
                    <a class="bl_l l_9" href{% if trainer %}="{{request.url}}?trainer_id={{trainer.id}}&last_day=9"{%endif%}></a>
                    <a class="bl_l l_10" href{% if trainer %}="{{request.url}}?trainer_id={{trainer.id}}&last_day=10"{%endif%}></a>
                    <a class="bl_l l_11" href{% if trainer %}="{{request.url}}?trainer_id={{trainer.id}}&last_day=11"{%endif%}></a>
                    <a class="bl_l l_12" href{% if trainer %}="{{request.url}}?trainer_id={{trainer.id}}&last_day=12"{%endif%}></a>
                    <a class="bl_l l_13" href{% if trainer %}="{{request.url}}?trainer_id={{trainer.id}}&last_day=13"{%endif%}></a>
                    <a class="bl_l l_14 mr_0" href{% if trainer %}="{{request.url}}?trainer_id={{trainer.id}}&last_day=14"{%endif%}></a>
                </div>
            </div>
            <div class="numbers">
                <ul>
                    <li class="li_n_1">1</li>
                    <li class="li_n_2">2</li>
                    <li class="li_n_3">3</li>
                    <li class="li_n_4">4</li>
                    <li class="li_n_5">5</li>
                    <li class="li_n_6">6</li>
                    <li class="li_n_7">7</li>
                    <li class="li_n_8">8</li>
                    <li class="li_n_9">9</li>
                    <li class="li_n_10">10</li>
                    <li class="li_n_11">11</li>
                    <li class="li_n_12">12</li>
                    <li class="li_n_13">13</li>
                    <li class="li_n_14">14</li>
                </ul>
            </div>
        </div>
    </div>
    <a href="/promo/{% if vk %}vk/{% endif %}" class="right_flakes_block">

    </a>

    <script type="text/javascript">
    $(document).ready(function(){
        updateScale({% if last_day%}{{last_day}}{% else %}{{trainer_day}}{% endif %});
    })
    </script>

    <div class="clear"></div>

    <div class="blue_bali_link">
        <a href="/static/files/faq_nestle_bali_.pdf" download>Выиграй поездку на Бали!</a>
    </div>
</header>