@font-face {
    font-family: 'futurafuturisblackcregular';
    src: url('../fonts/FuturaFuturisBlackC-webfont.eot');
    src: url('../fonts/FuturaFuturisBlackC-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaFuturisBlackC-webfont.woff2') format('woff2'),
    url('../fonts/FuturaFuturisBlackC-webfont.woff') format('woff'),
    url('../fonts/FuturaFuturisBlackC-webfont.ttf') format('truetype'),
    url('../fonts/FuturaFuturisBlackC-webfont.svg#futurafuturisblackcregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futurafuturiscregular';
    src: url('../fonts/FuturaFuturisC-webfont.eot');
    src: url('../fonts/FuturaFuturisC-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaFuturisC-webfont.woff2') format('woff2'),
    url('../fonts/FuturaFuturisC-webfont.woff') format('woff'),
    url('../fonts/FuturaFuturisC-webfont.ttf') format('truetype'),
    url('../fonts/FuturaFuturisC-webfont.svg#futurafuturiscregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futurafuturiscameoextraboldRg';
    src: url('../fonts/FuturaFuturisCameoExtraBdC-webfont.eot');
    src: url('../fonts/FuturaFuturisCameoExtraBdC-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaFuturisCameoExtraBdC-webfont.woff2') format('woff2'),
    url('../fonts/FuturaFuturisCameoExtraBdC-webfont.woff') format('woff'),
    url('../fonts/FuturaFuturisCameoExtraBdC-webfont.ttf') format('truetype'),
    url('../fonts/FuturaFuturisCameoExtraBdC-webfont.svg#futurafuturiscameoextraboldRg') fomat('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futurafuturiscbold';
    src: url('../fonts/FuturaFuturisC-Bold-webfont.eot');
    src: url('../fonts/FuturaFuturisC-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaFuturisC-Bold-webfont.woff2') format('woff2'),
    url('../fonts/FuturaFuturisC-Bold-webfont.woff') format('woff'),
    url('../fonts/FuturaFuturisC-Bold-webfont.ttf') format('truetype'),
    url('../fonts/FuturaFuturisC-Bold-webfont.svg#futurafuturiscbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futurafuturiscbold_italic';
    src: url('../fonts/FuturaFuturisC-BoldItalic-webfont.eot');
    src: url('../fonts/FuturaFuturisC-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaFuturisC-BoldItalic-webfont.woff2') format('woff2'),
    url('../fonts/FuturaFuturisC-BoldItalic-webfont.woff') format('woff'),
    url('../fonts/FuturaFuturisC-BoldItalic-webfont.ttf') format('truetype'),
    url('../fonts/FuturaFuturisC-BoldItalic-webfont.svg#futurafuturiscbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futurafuturiscitalic';
    src: url('../fonts/FuturaFuturisC-Italic-webfont.eot');
    src: url('../fonts/FuturaFuturisC-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaFuturisC-Italic-webfont.woff2') format('woff2'),
    url('../fonts/FuturaFuturisC-Italic-webfont.woff') format('woff'),
    url('../fonts/FuturaFuturisC-Italic-webfont.ttf') format('truetype'),
    url('../fonts/FuturaFuturisC-Italic-webfont.svg#futurafuturiscitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futurafuturiscondboldcregular';
    src: url('../fonts/FuturaFuturisCondBoldC-webfont.eot');
    src: url('../fonts/FuturaFuturisCondBoldC-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaFuturisCondBoldC-webfont.woff2') format('woff2'),
    url('../fonts/FuturaFuturisCondBoldC-webfont.woff') format('woff'),
    url('../fonts/FuturaFuturisCondBoldC-webfont.ttf') format('truetype'),
    url('../fonts/FuturaFuturisCondBoldC-webfont.svg#futurafuturiscondboldcregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futurafuturiscondextraboldcRg';
    src: url('../fonts/FuturaFuturisCondExtraBoldC-webfont.eot');
    src: url('../fonts/FuturaFuturisCondExtraBoldC-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaFuturisCondExtraBoldC-webfont.woff2') format('woff2'),
    url('../fonts/FuturaFuturisCondExtraBoldC-webfont.woff') format('woff'),
    url('../fonts/FuturaFuturisCondExtraBoldC-webfont.ttf') format('truetype'),
    url('../fonts/FuturaFuturisCondExtraBoldC-webfont.svg#futurafuturiscondextraboldcRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futurafuturislightcregular';
    src: url('../fonts/FuturaFuturisLightC-webfont.eot');
    src: url('../fonts/FuturaFuturisLightC-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaFuturisLightC-webfont.woff2') format('woff2'),
    url('../fonts/FuturaFuturisLightC-webfont.woff') format('woff'),
    url('../fonts/FuturaFuturisLightC-webfont.ttf') format('truetype'),
    url('../fonts/FuturaFuturisLightC-webfont.svg#futurafuturislightcregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futurafuturisshadowcregular';
    src: url('../fonts/FuturaFuturisShadowC-webfont.eot');
    src: url('../fonts/FuturaFuturisShadowC-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaFuturisShadowC-webfont.woff2') format('woff2'),
    url('../fonts/FuturaFuturisShadowC-webfont.woff') format('woff'),
    url('../fonts/FuturaFuturisShadowC-webfont.ttf') format('truetype'),
    url('../fonts/FuturaFuturisShadowC-webfont.svg#futurafuturisshadowcregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futurafuturisshadowcbold';
    src: url('../fonts/FuturaFuturisShadowC-Bold-webfont.eot');
    src: url('../fonts/FuturaFuturisShadowC-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaFuturisShadowC-Bold-webfont.woff2') format('woff2'),
    url('../fonts/FuturaFuturisShadowC-Bold-webfont.woff') format('woff'),
    url('../fonts/FuturaFuturisShadowC-Bold-webfont.ttf') format('truetype'),
    url('../fonts/FuturaFuturisShadowC-Bold-webfont.svg#futurafuturisshadowcbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futurafuturisvolumelightcRg';
    src: url('../fonts/FuturaFuturisVolumeLightC-webfont.eot');
    src: url('../fonts/FuturaFuturisVolumeLightC-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaFuturisVolumeLightC-webfont.woff2') format('woff2'),
    url('../fonts/FuturaFuturisVolumeLightC-webfont.woff') format('woff'),
    url('../fonts/FuturaFuturisVolumeLightC-webfont.ttf') format('truetype'),
    url('../fonts/FuturaFuturisVolumeLightC-webfont.svg#futurafuturisvolumelightcRg') format('svg');
    font-weight: normal;
    font-style: normal;
}