@import url(fonts.css);

/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

html {
    height: 100%;
    overflow: hidden;
    /*background: #f5f4f5;*/
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

body {
    font: 12px/18px futurafuturiscregular, sans-serif;
    width: 100%;
    height: 100%;
    /*background: #f5f4f5; */
}

.wrapper {
    width: 810px;
    min-width: 810px;
    margin: 0 auto 0 0;
    height: 650px;
    padding-top: 0px;
}

.clear {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tal {
    text-align: left !important;
}

.tac {
    text-align: center !important;
}

.tar {
    text-align: right !important;
}

.mr_0 {
    margin-right: 0 !important;
}

.ml_0 {
    margin-left: 0 !important;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 150px;
    border-bottom: 1px solid #E7E7E7;
    position: relative;
    background: #f5f4f5;
    /*-webkit-box-shadow: 0px -3px 4px 0px rgba(168, 188, 197, 0.87);*/
    /*-moz-box-shadow: 0px -3px 4px 0px rgba(168, 188, 197, 0.87);*/
    /*box-shadow: 0px -3px 4px 0px rgba(168, 188, 197, 0.87);*/
}

.shadows {
    width: 810px;
    bottom: -4px;
    left: 0;
    height: 4px;
    position: absolute;
    background: url("../images/shadow.jpg") repeat-x left top;
}

.shadows_t {
    width: 810px;
    top: -4px;
    left: 0;
    height: 3px;
    position: absolute;
    background: url("../images/shadow_t.jpg") repeat-x left top;
}

.left_wr_head_logo_block {
    width: 612px;
    float: left;
    height: 150px;
    margin-left: 35px;

}

.right_flakes_block {
    width: 149px;
    height: 136px;
    float: left;
    background: url("../images/box_flakes_header.png") no-repeat center center;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    margin-top: 14px;
    margin-left: 6px;
}

.logo_and_menu_wr {
    width: 612px;
    height: 90px;
    overflow: hidden;
}

.logo_s {
    width: 121px;
    height: 60px;
    margin-top: 28px;
    float: left;
}

.logo_link {
    width: 121px;
    height: 60px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.menu_and_client_info {
    float: right;
    width: 490px;
    height: 60px;
    margin-top: 28px;
}

.client_info {
    margin-bottom: 12px;
}

.inf_style {
    font-family: futurafuturiscregular;
    color: #232878;
    text-align: right;
    font-size: 14px;

}

.inf_style a {
    font-family: futurafuturiscregular;
    color: #232878;
    font-size: 14px;
    text-decoration: none;
    margin-left: 34px;
}

.inf_style a:hover {
    text-decoration: underline;
}

.nav {
    float: right;
}

.nav ul li {
    float: left;
    margin-left: 10px;
}

.nav ul li a {
    font-family: futurafuturiscregular;
    text-transform: uppercase;
    color: #74c7ee;
    font-size: 13px;
    text-decoration: none;
}

.nav ul li a:hover {
    text-decoration: underline;
}

.nav ul li a.active {
    color: #30348c;
}

.shkala_block {
    width: 612px;
    margin-top: 17px;
    height: 41px;
    position: relative;
}

.gray_shkala_bl {
    width: 612px;
    background: url("../images/gray_bg.jpg") no-repeat;
    height: 8px;
}

.numbers {
    margin-left: 14px;
    margin-top: 9px;
}

.numbers ul li {
    float: left;
    font-family: Helvetica;
    color: #c0c0c0;
    font-size: 14px;
}

.blue_line {
    height: 5px;
    background: #d6f5ff; /* Old browsers */
    background: -moz-linear-gradient(left, #d6f5ff 0%, #74c7ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #d6f5ff), color-stop(100%, #74c7ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #d6f5ff 0%, #74c7ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #d6f5ff 0%, #74c7ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #d6f5ff 0%, #74c7ee 100%); /* IE10+ */
    background: linear-gradient(to right, #d6f5ff 0%, #74c7ee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6f5ff', endColorstr='#74c7ee', GradientType=1); /* IE6-9 */
    border-radius: 10px;
    position: relative;

}

.blue_lady {
    width: 46px;
    height: 46px;
    position: absolute;
    right: -25px;
    top: -20px;
    background: url("../images/blue_lady.png") no-repeat;
    z-index: 10;
}

.bl_wrappa {
    width: 612px;
    position: absolute;
    left: 0;
    top: 0px;
}

.blue_tic {
    position: absolute;
    top: -6px;
    left: 10px;
}

.blue_tic a {
    float: left;
    margin-right: 27px;
}

.bl_l {
    width: 17px;
    height: 17px;
    background: url("../images/blue_line_btn.png") no-repeat center center;
    display: none;
}

.li_n_2, .li_n_3, .li_n_4, .li_n_5, .li_n_6, .li_n_7, .li_n_8, .li_n_9 {
    margin-left: 36px;
}

.li_n_10 {
    margin-left: 32px;
}

.li_n_11, .li_n_12, .li_n_13, .li_n_14 {
    margin-left: 28px;
}

.day_1 {
    width: 20px;
}

.day_2 {
    width: 60px;
}

.day_3 {
    width: 103px;
}

.day_4 {
    width: 147px;
}

.day_5 {
    width: 193px;
}

.day_6 {
    width: 238px;
}

.day_7 {
    width: 280px;
}

.day_8 {
    width: 325px;
}

.day_9 {
    width: 370px;
}

.day_10 {
    width: 415px;
}

.day_11 {
    width: 457px;
}

.day_12 {
    width: 503px;
}

.day_13 {
    width: 544px;
}

.day_14 {
    width: 590px;
}

.day_1_lady {
    right: auto;
    left: -5px
}

.day_2_lady {
    right: auto;
    left: 37px;
}

.day_3_lady {
    right: auto;
    left: 82px;
}

.day_4_lady {
    right: auto;
    left: 128px;
}

.day_5_lady {
    right: auto;
    left: 172px;
}

.day_6_lady {
    right: auto;
    left: 213px;
}

.day_7_lady {
    right: auto;
    left: 257px;
}

.day_8_lady {
    right: auto;
    left: 302px;
}

.day_9_lady {
    right: auto;
    left: 347px;
}

.day_10_lady {
    right: auto;
    left: 392px;
}

.day_11_lady {
    right: auto;
    left: 434px;
}

.day_12_lady {
    right: auto;
    left: 480px;
}

.day_13_lady {
    right: auto;
    left: 521px;
}

.day_14_lady {
    right: auto;
    left: 567px;
}

.blue_bali_link {
    position: absolute;
    right: 0;
    top: 173px;
}

.blue_bali_link a {
    background: #2A3190;
    padding: 8px 10px;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 13px;
    text-decoration: none;
    border-top: 1px solid #7177DB;
}

.blue_bali_link a:hover {
    text-decoration: underline;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
    padding-top: 20px;
    height: 450px;
    padding-left: 35px;
    background: #f5f4f5;
    /*-webkit-box-shadow: 0px 4px 4px 0px rgba(168, 188, 197, 0.87);*/
    /*-moz-box-shadow: 0px 4px 4px 0px rgba(168, 188, 197, 0.87);*/
    /*box-shadow: 0px 4px 4px 0px rgba(168, 188, 197, 0.87);*/
}

.h1_class {
    font-family: futurafuturislightcregular;
    text-transform: uppercase;
    font-size: 30px;
    color: #74c7ee;
    margin-top: 3px;
}

.center_pass_form {
    width: 320px;
    margin: 30px auto;

}

.gr_text {
    font-family: futurafuturislightcregular;
    color: #828282;
    font-size: 14px;
}

.type_text_s {
    height: 31px;
    box-sizing: border-box;
    background: #C8EBF6;
    border: none;
    -webkit-box-shadow: inset 0px 4px 5px -1px rgba(162, 215, 235, 0.77);
    -moz-box-shadow: inset 0px 4px 5px -1px rgba(162, 215, 235, 0.77);
    box-shadow: inset 0px 4px 5px -1px rgba(162, 215, 235, 0.77);
    border-radius: 8px;
    padding-left: 10px;
    color: #30348c;
    font-size: 16px;
    text-transform: uppercase;
    font-family: futurafuturislightcregular;
}

.error_type {
    height: 29px;
    background: #F6D2D2 !important;
    border: none;
    -webkit-box-shadow: inset 0px 4px 5px -1px rgba(231, 178, 178, 0.77) !important;
    -moz-box-shadow: inset 0px 4px 5px -1px rgba(231, 178, 178, 0.77) !important;
    box-shadow: inset 0px 4px 5px -1px rgba(231, 178, 178, 0.77) !important;
    border-radius: 8px;
    padding-left: 10px;
    color: #30348c;
    font-size: 16px;
    text-transform: uppercase;
    font-family: futurafuturislightcregular;
}

.wi_d_305 {
    width: 305px;
}

.zag_form {
    color: #30348c;
    font-size: 14px;
    font-family: futurafuturiscregular;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 4px;
}

.mar_bottom_bl_b {
    margin-bottom: 50px;
}

.blue_btn_sky {
    color: #ffffff;
    font-family: futurafuturiscregular;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 9px;
    padding-top: 9px;
    width: 179px;
    background: #23C8F0;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
    -webkit-appearance: none;
}

.blue_btn_sky:hover {
    text-decoration: underline;
}

.ma_r_le {
    margin-left: 67px;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    width: 810px;
    margin: 0px auto 0;
    height: 65px;
    position: relative;
    border-top: 1px solid #E7E7E7;
    position: relative;
    background: #f5f4f5;
    /*-webkit-box-shadow: 0px 4px 4px 0px rgba(168, 188, 197, 0.87);*/
    /*-moz-box-shadow: 0px 4px 4px 0px rgba(168, 188, 197, 0.87);*/
    /*box-shadow: 0px 4px 4px 0px rgba(168, 188, 197, 0.87);*/
}

.wr_all_foot_items ul {
    padding-top: 5px;
}

.wr_all_foot_items ul li {
    float: left;
}

.wr_all_foot_items ul li a {
    font-family: futurafuturislightcregular;
    color: #8f8f8f;
    font-size: 13px;
    text-decoration: none;
}

.wr_all_foot_items ul li a:hover {
    text-decoration: underline;
}

.left_foot {
    margin-left: 35px;
    width: 237px;
    float: left;
    height: 28px;
}

.ml_a {
    margin-right: 12px;
}

.center_foot {
    float: left;
    height: 28px;
    margin-left: 50px;
}

.zak {
    padding-left: 16px;
    background: url("../images/zak.png") no-repeat left center;
}

.sound_off {
    padding-left: 12px;
    background: url("../images/sound_off.png") no-repeat left center;
}

.right_foot {
    float: right;
    margin-right: 30px;
    width: 200px;
    height: 24px;
    padding-top: 6px;
}

.right_foot p {
    font-family: futurafuturislightcregular;
    color: #30348c;
    font-size: 13px;
}

.right_foot {
    float: right;

}

.right_foot span {
    float: left;
    color: #30348c;
}

.right_foot a {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 16px;
    height: 16px;
    margin-left: 7px;

}

.b-share.b-share {
    padding: 0 !important;
}
.b-share__handle.b-share__handle {
    padding: 0 !important;
    margin-left: 7px;
}
.b-share .b-share-icon_odnoklassniki.b-share-icon_odnoklassniki {
    background: url("../images/ok_com.png") no-repeat center center;
}

.b-share .b-share-icon_facebook.b-share-icon_facebook {
    background: url("../images/face_com.png") no-repeat center center;

}

.b-share .b-share-icon_vkontakte.b-share-icon_vkontakte {
    background: url("../images/vk_com.png") no-repeat center center;
}

.ok_com {
    background: url("../images/ok_com.png") no-repeat center center;
}

.face_com {
    background: url("../images/face_com.png") no-repeat center center;
}

.vk_com {
    background: url("../images/vk_com.png") no-repeat center center;
}

/*СТраница ВОЙТИ*/
.mt_no_sta {
    margin-top: 15px;
}

.mar_bot30 {
    margin-bottom: 30px;
}

.ma_r_le2 {
    margin-left: 56px;
}

.style_cl_blue_text {
    color: #30348c;
    font-family: futurafuturiscregular;
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 48px;
    text-transform: uppercase;
    text-align: center;
}

.social_big_btns {
    text-align: center;
    margin-top: 17px;
}

.social_big_btns li {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.social_big_btns li a {
    width: 40px;
    height: 40px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    margin-right: 10px;

}

.ok_big {
    background: url("../images/ok_big.png") no-repeat center center;
}

.face_big {
    background: url("../images/face_big.png") no-repeat center center;
}

.vk_big {
    background: url("../images/vk_big.png") no-repeat center center;
}

.forget_password {
    text-align: center;
    margin-top: 28px;
}

.forget_password li {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.forget_password li a {
    font-family: futurafuturislightcregular;
    color: #74c7ee;
    font-size: 14px;
    text-decoration: none;
}

.forget_password li a:hover {
    text-decoration: underline;
}

.right_margin_40 {
    margin-right: 40px;
}

/*СТраница ВОЙТИ*/

/*Страница регистрация*/
.left_load_avatar_block {
    width: 200px;
    height: 400px;
    float: left;
    margin-top: 20px;
}

.right_form_block_register {
    float: right;
    width: 515px;
    height: 400px;
    margin-top: 20px;
    margin-right: 30px;
}

.avatar_photo {
    width: 200px;
    height: 200px;
    text-align: center;
    position: relative;
    border: 1px solid #EAEAEA;
    background: #ffffff;
}

.load_photo {
    background: url(../images/load_photo.png) no-repeat;
    cursor: pointer;
    height: 15px;
    overflow: hidden;
    width: 90px;
    margin-left: 55px;
    margin-top: 93px;
}

.hidd_type {
    border: medium none;
    cursor: pointer;
    font-size: 199px;
    margin: 0 0 0 -450px;
    opacity: 0;
    padding: 0;
}

.gray_small_size {
    font-size: 13px;
    font-family: futurafuturislightcregular;
    color: #828282;
}

.mar_for_sm_text {
    margin-top: 30px;
}

.left_inp {
    width: 260px;
    float: left;

}

.wi_d_245 {
    width: 235px;
}

.zag_form_n_m {
    color: #30348c;
    font-family: futurafuturiscregular;
    font-size: 14px;
    text-transform: uppercase;
}

.right_inp {
    width: 245px;
    float: right;
}

.parametres {
    height: 50px;
    float: left;
}

.wi_d_65 {
    width: 55px;
}

.wi_d_35 {
    width: 35px;
}

.wi_d_45 {
    width: 45px;
}

.weight {
    width: 100px;
}

.age {
    width: 90px;
}

.growth {
    width: 70px;
}

.parametres span {
    color: #828282;
    font-size: 14px;
    font-family: futurafuturislightcregular;
    margin-left: 5px;
}

.right_form_block_register .zag_form_n_m {
    margin-top: 18px;
    margin-bottom: 4px;
}

.wr_all_param {
    overflow: hidden;
    margin-bottom: 0px;
    height: 72px;
}

.radio {
    display: block;
    height: 17px;
    background: url("../images/radio.png") no-repeat;
    background-position: 1px 3px;
    coloR: #30348c;
    cursor: pointer;
    text-indent: 22px;
    font-size: 16px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    font-family: futurafuturislightcregular;
    margin-right: 20px;
}

.radio.active {
    background-position: 0 -16px;
}

.another_margin {
    margin-top: 96px !important;
}

.an_mar_b {
    margin-bottom: 10px !important;
}

/*	=	CheckBox */
/* Стилизируем чекбокс, точнее скрываем его */
.check input[type=checkbox] {
    position: absolute;
    left: -10000px;
}

.check {
    background: url("../images/checkbox.png") no-repeat;
    background-position: 0 3px;
    padding-left: 25px;
    cursor: pointer;
    position: relative;
}

.check.active {
    background-position: 0 -23px;
}

.mar_check {
    margin-top: 15px
}

.padd_sma {
    padding-top: 4px;
}

.gr_a {
    margin-top: 14px;
}

/*Страница регистрация*/

/*Страница о продукте*/
.left_product_block {
    float: left;
    height: 370px;
    margin-top: 40px;
    width: 775px;
}

.right_product_block {
    width: 336px;
    margin-right: 35px;
    float: right;
}

.fl_r {
    float: left;
    margin-left: 20px;
}

.style_h2 {
    font-family: futurafuturiscregular;
    color: #30348c;
    font-size: 26px;
    margin-bottom: 15px;
    line-height: 21px;
}

.sm-SIZE_GR_TEXT {
    color: #828282;
    font-size: 13px;
    font-family: futurafuturislightcregular;
    line-height: 15px;
}

ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    width: 93px;
    height: 353px;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #E8E8E8;

}

ul.tabs li {
    margin: 0;
    width: 91px;
    padding: 0;
    height: 70px;
    line-height: 70px;
    border-left: none;
    /*overflow: hidden;*/
    position: relative;
    background: none repeat scroll 0 0 #fff;
    border-left: 2px solid #fff;
    padding-top: 8px;
    padding-bottom: 8px;
}

ul.tabs li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 1.2em;
    padding: 0 20px;
    outline: none;
}

ul.tabs li a:hover {

}

html ul.tabs li.active {
    background: #fff;
    width: 91px;
}

.tab_container {
    width: 672px;
    float: left;
    margin-top: 0px;
}

.tab_content {
    font-size: 1.2em;
    padding: 0 20px 20px;
}

.hidd_arra {
    position: absolute;
    top: 37px;
    width: 10px;
    height: 18px;
    right: -10px;
    background: url("../images/arr_tab.png") no-repeat;
    display: none;
}

/*Страница о продукте*/

/*Страница  рейтинг*/
.wrapp_ratings {
    width: 745px;
    height: 380px;
    margin-top: 20px;
    border-radius: 10px;
}

.top_rating_head {
    height: 44px;
    width: 745px;
    border: 1px solid #D8D8D8;
    border-radius: 10px 10px 0 0;
    background: url("../images/layout.jpg") repeat-x;
}

.content_part_rating {
    height: 330px;
    border: 1px solid #D8D8D8;
    background: #ffffff;
    border-top: 0;
    width: 745px;
    border-radius: 0 0 10px 10px;
}

.top_rating_head ul li {
    font-family: futurafuturiscregular;
    color: #30348c;
    font-size: 14px;
    text-transform: uppercase;
    height: 44px;
    line-height: 44px;
    float: left;
}

.ml_1 {
    margin-left: 25px;
}

.ml_2 {
    margin-left: 430px;
}

.ml_3 {
    margin-left: 45px;
}

.we_cont {
    padding: 20px;
    height: 290px;
}

/*.we_conts {*/
/*padding: 20px;*/
/*height: 240px;*/
/*}*/
.cl_ra {
    margin-top: 2px;
}

.scroll-paned {
    width: 100%;
    height: 245px;
    overflow: auto;
}

.scroll-pane {
    width: 100%;
    height: 295px;
    overflow: auto;
}

.one_user_rating {
    width: 670px;
    height: 42px;
    margin-bottom: 8px;
}

.ava_users {
    width: 42px;
    height: 42px;
    border-radius: 42px;
    float: left;
}

.ava_users img {
    width: 42px;
    height: 42px;
    border-radius: 42px;
}

.jspDrag {
    background: url("../images/scroll_bg.png") no-repeat !important;
}

.jspVerticalBar {
    width: 21px !important;
}

.jspTrack {
    background: url("../images/scroll_line.png") repeat-y center top !important;
    border-radius: 10px !important;
}

.jspVerticalBar {
    background: none !important;
}

.jspTrack :after {
    width: 5px !important;
    height: 5px !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
}

.div_named_user {
    width: 456px;
    margin-left: 15px;
    float: left;
    height: 42px;
}

.text_colors_a {
    color: #30348c;
    font-size: 16px;
    font-family: futurafuturislightcregular;
    padding-top: 11px;
}

.zayavki_numb {
    float: left;
    padding-left: 16px;
    width: 37px;
    height: 44px;
    display: inline-block;
    *zoom: 1;
    *display: inline;

}

.days_user {
    margin-left: 17px;
    padding-left: 30px;
    width: 53px;
    height: 44px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    float: left;
}

/*Страница  рейтинг*/

/*Страница  правила*/
.rules {
    width: 760px;
    height: 400px;
    margin-top: 20px;
}

.par_gr {
    font-family: futurafuturislightcregular;
    font-size: 13px;
    color: #828282;
}

.we_conts {
    height: 310px;
    padding: 0 20px 20px 0px;
}

.bl_text {
    font-family: futurafuturislightcregular;
    font-size: 13px;
    color: #828282;
    text-transform: uppercase;
    color: #30348c;
    margin-top: 20px;
    margin-bottom: 8px;
}

.downl_pdf {
    color: #74c7ee;
    font-family: futurafuturislightcregular;
    font-size: 14px;
    text-decoration: none;
    padding-right: 20px;
    background: url("../images/pdf.png") no-repeat right center;
    padding-top: 3px;
}

.downl_pdf:hover {
    text-decoration: underline;
}

.gray_link {
    background: none repeat scroll 0 0 #D1D1D1;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-family: futurafuturiscregular;
    font-size: 12px;
    padding: 9px 47px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 20px;
    cursor: pointer;
    position: relative;
    z-index: 200;
}

.gray_link:hover {
    text-decoration: underline;
}

.gray_small_size2 {
    color: #30348c;
    font-family: futurafuturislightcregular;
    font-size: 13px;
}

/*Страница  правила*/

/*Страница анкета*/
.anketa_wrapp {
    width: 750px;
    height: 330px;
}

.left_anketa_block {
    width: 182px;
    height: 307px;
    border: 1px solid #E8E8E8;
    float: left;
    margin-top: 20px;
    padding: 9px;
    background: #ffffff;
}

.avat_p {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.info_p {
    font-size: 16px;
    color: #828282;
    font-family: futurafuturislightcregular;
    margin-bottom: 10px;

}

.edit_prophile_link a {
    text-decoration: none;
    color: #a5a5a5;
    font-size: 13px;
    font-family: futurafuturislightcregular;
    padding-left: 20px;
    background: url("../images/edit_pro.png") no-repeat left center;
}

.edit_prophile_link a:hover {
    text-decoration: underline;

}

.right_anketa_block {
    float: right;
    width: 520px;
    height: 385px;
    margin-top: 20px;
}

.top_anketa_head {
    background: url("../images/layout.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #d8d8d8;
    border-radius: 10px 10px 0 0;
    height: 44px;
    width: 518px;
}

.wrapp_anketa {
    border-radius: 10px;
    height: 325px;
    width: 518px;
}

.ank_wr_head {
    color: #30348c;
    font-family: futurafuturiscregular;
    font-size: 14px;
    height: 44px;
    line-height: 44px;
    text-transform: uppercase;
    text-align: center;
}

.content_part_rating_w {
    height: 280px;
    border: 1px solid #D8D8D8;
    background: #ffffff;
    border-top: 0;
    width: 518px;
    border-radius: 0 0 10px 10px;
}

.we_conts {
    height: 240px;
    padding: 20px;
}

.scroll-pane2 {
    width: 100%;
    height: 240px;
    overflow: auto;
}

.one_achivement {
    margin-bottom: 16px;
    width: 450px;
    overflow: hidden;
}

.images_prize {
    width: 58px;
    height: 58px;
    float: left;
    position: relative;
}

.text_block_ach {
    float: left;
    width: 245px;
    margin-left: 20px;
}

.link_fr{
    float: right;
}

.clouds{
    font-size: 13px;
    color: #cac8c8;
    font-family: futurafuturislightcregular;
    padding-left: 20px;
    text-decoration: none;
    background: url("../images/cloud.png") no-repeat 0 -16px;
}

.clouds.active {
    background-position: 0 2px;
    color: #30348c;
    margin-top: 20px;
    display: inline-block;
}

.link_fr{
    margin-top: 20px;
}

.pervo {
    color: #30348c;
    font-size: 16px;
    font-family: futurafuturislightcregular;
    margin-top: 2px;
}

.bha {
    color: #828282;
    font-size: 13px;
    font-family: futurafuturislightcregular;
}

.za {
    color: #74c7ee;
    font-size: 13px;
    font-family: futurafuturislightcregular;
}

.div_social_bl {
    width: 85px;
    height: 57px;
    float: right;
}

.soc_gray_icon li a {
    float: left;
    height: 16px;
    margin-left: 7px;
    width: 16px;
}

.ok_com_gray {
    background: url("../images/ok_gray.png") no-repeat;
}

.face_com_gray {
    background: url("../images/face_gray.png") no-repeat;
}

.vk_com_gray {
    background: url("../images/vk_gray.png") no-repeat;
}

.soc_gray_icon {
    margin-top: 21px;
}

.p_grays {
    font-family: futurafuturislightcregular;
    color: #828282;
    font-size: 13px;
}

.mr_tr {
    margin-top: 10px;
}

/*Страница анкета*/

/*Страница выбрать тренера*/
.treners_wrapp_block {
    width: 745px;
    height: 400px;
    margin-top: 20px;
    position: relative;
}

.left_tren_block {
    position: absolute;
    left: -20px;
    top: 0;
    width: 267px;
    height: 350px;
}

.right_tren_block {
    position: absolute;
    right: -20px;
    top: 0;
    width: 287px;
    height: 350px;
}

.center_tren_block {
    width: 321px;
    height: 400px;
    position: absolute;
    left: 200px;
    top: 0;
}

.second_chel {
    margin-top: 8px;
}

.progress_block {
    width: 130px;
    height: 55px;
    margin: 0 auto;
    text-align: center;
}

.first_chel {
    margin-top: 18px;
}

.progr {
    color: #74c7ee;
    font-family: futurafuturislightcregular;
    font-size: 14px;
    text-transform: uppercase;
}

.progr_ul {
    margin-left: 3px;
}

.progr_ul li {
    width: 7px;
    height: 7px;
    float: left;
    margin-right: 2px;
}

.active_tic {
    background: url("../images/blue_tic.png") no-repeat center center;
}

.passive_tic {
    background: url("../images/gray_tic.png") no-repeat center center;
}

.percents {
    color: #30348c;
    font-size: 30px;
    font-family: futurafuturiscregular;
    margin-top: 16px;
}

.percents span {
    color: #30348c;
    font-size: 18px;
    font-family: futurafuturislightcregular;
    vertical-align: top;
}

.end_curs {
    color: #30348c;
    text-align: center;
    font-size: 14px;
    padding-left: 13px;
    padding-top: 1px;
    font-family: futurafuturislightcregular;
    text-transform: uppercase;
    background: url("../images/end_curs.png") no-repeat left center;
}

.learn_curs_ag {
    font-family: futurafuturislightcregular;
    font-size: 13px;
    color: #4F92AF;
    text-decoration: underline;
}

.learn_curs_ag:hover {
    text-decoration: none;
}

img.blur {
    -webkit-filter: url(#blur);
    filter: url(#blur);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
    -webkit-transition: 1s -webkit-filter linear;
    transition: 1s filter linear;
}

img.blur:hover {
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
    -webkit-filter: blur(0px);
    filter: blur(0px);
}

.speach {
    width: 295px;
    position: absolute;
    z-index: 200;
    background: #ECEBEB;
    padding: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.44);
    -moz-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.44);
    box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.44);
    display: none;
}

.images_blocks {
    position: relative;
}

.fi_bl {
    left: 177px;
    top: 52px;
}

.sc_bl {
    right: 209px;
    top: 52px;
}

.sc_bl__for_left {
    right: -243px;
    top: 52px;
}

.th_bl {
    right: 195px;
    top: 52px;
}

.speach p {
    color: #717171;
    font-size: 14px;
    font-family: futurafuturislightcregular;
}

.arr {
    position: absolute;
    width: 7px;
    height: 10px;
    background: url("../images/arr_sp.png") no-repeat;
}

.arr__for_left {
    position: absolute;
    width: 7px;
    height: 10px;
    background: url("../images/arr_sp.png") no-repeat;
    -moz-transform: scaleX(-1); /* Firefox */
    -o-transform: scaleX(-1); /* Opera */
    -webkit-transform: scaleX(-1); /* Chrome y Safari */
    transform: scaleX(-1); /* w3org */
    filter: FlipH; /* Internet Explorer */
}

.arra {
    position: absolute;
    width: 7px;
    height: 10px;
    background: url("../images/l_aa.png") no-repeat;
}

.th {
    right: -7px;
    top: 10px;
}

.se {
    right: -7px;
    top: 10px;
}

.se__for_left {
    right: 315px;
    top: 10px;
}

.fi {
    left: -7px;
    top: 10px;
}

/*Страница выбрать тренера*/

/*Страница редактирование профиля*/
.avat_p_edit {
    height: 180px;
    margin: 0 auto;
    width: 180px;
}

.left_anketa_block_edit {
    background: #ffffff;
    border: 1px solid #e8e8e8;
    float: left;
    margin-top: 20px;
    padding: 9px;
    width: 182px;
}

.right_anketa_block_edit {
    float: right;
    height: 385px;
    margin-top: 20px;
    width: 520px;
}

.gr_text_edit {
    font-family: futurafuturislightcregular;
    color: #828282;
    font-size: 13px;
}

.cc_s {
    margin-bottom: 4px;
    margin-top: 18px;
}

.wi_d_125 {
    width: 115px;
}

.par_simp {
    width: 171px;
}

.mt_edit {
    margin-top: 20px;
    margin-bottom: 20px;

}

.s_padd {
    padding: 9px 20px;
}

/*Страница редактирование профиля*/

/*ПРограмма питания*/
.left_treners_block {
    width: 350px;
    height: 330px;
    padding-top: 5px;
    margin-top: 20px;
    text-align: center;
    float: left;
    position: relative;
}

.right_tabs_blocks {
    float: right;
    margin-top: 20px;
    width: 364px;
    height: 390px;
    position: relative;
    margin-right: 20px;
}

.tabs_wrappr {
    height: 310px;
    width: 360px;

}

.dib {
    display: inline;
    *zoom: 1;
    *display: inline;
    padding: 9px 20px;
    float: right;
    margin-right: 17px;
    margin-top: 17px;
}

.lojka {
    height: 80px;
    left: 90px;
    position: absolute;
    top: -61px;
    width: 133px;
    z-index: 50;
}

#mycarousel_shema_proesda li {
    margin-left: 3px;
    margin-right: 3px;
}

#wrapper_carousel_shema_proesda .jcarousel-prev {
    background: url("../images/slider-arrow_left_shema.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 21px;
    position: absolute;
    left: 5px;
    top: 12px;
    width: 21px;
    cursor: pointer;
}

#wrapper_carousel_shema_proesda .jcarousel-next {
    background: url("../images/slider-arrow_right_shema.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 21px;
    position: absolute;
    right: 5px;
    top: 12px;
    width: 21px;
    cursor: pointer;
}

.jcarousel-skin-tango .jcarousel-container {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px 10px 0 0;
    background: url("../images/layout.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    height: 27px;
    padding: 8px 26px 9px 26px;
    width: 307px;
    border: 1px solid #d8d8d8;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 0px;
}

.tab_containers {
    border: 1px solid #d8d8d8;
    border-top: none;
    clear: both;
    float: left;
    width: 359px;
    background: #fff;
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.tab_contents {
    font-size: 1.2em;
    height: 230px;
    padding: 10px 20px 20px;
}

ul.tabss {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    width: 100%;
}

ul.tabss li {
    float: left;
    margin: 0;
    padding: 0;
    height: 31px;
    line-height: 31px;
    border-left: none;
    margin-bottom: -1px;
    overflow: hidden;
    position: relative;
    width: 98px;
    text-align: center;
}

ul.tabss li a {
    text-decoration: none;
    color: #74c7ee;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0;
    outline: none;
    position: relative;
    z-index: 100;
    font-family: futurafuturislightcregular;
}

ul.tabss li a:hover {

}

html ul.tabss li.active {
    color: #30348c !important;
    font-family: futurafuturiscregular;

}

html ul.tabss li.active a {
    color: #30348c;
    font-family: futurafuturiscregular;

}

.one_porciya {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.bord {
    border-bottom: 1px solid #DDDDDD;
}

.one_porciya p {
    color: #30348c;
    font-size: 14px;
    text-transform: uppercase;
    font-family: futurafuturislightcregular;

}

.one_porciya p span {
    font-family: futurafuturiscregular;
}

.ad2 {
    font-family: futurafuturislightcregular;
    color: #828282;
    font-size: 13px;
    padding-left: 10px;
}

/*ПРограмма питания*/

/*страница тренировки*/
.right_tr_block {
    float: right;
    width: 380px;
    height: 322px;
    margin-top: 20px;
    margin-right: 20px;
}

.list {
    width: 750px;
    position: absolute;
    height: 22px;
    bottom: -23px;

}

.list span {
    margin-right: 200px;
    font-family: futurafuturiscregular;
    color: #34388E;
    text-transform: uppercase;
    font-size: 14px;
}

.wr_all_bl {
    width: 150px;
    height: 300px;
    float: left;
}

.link_block {
    height: 60px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 13px;
    padding-bottom: 7px;

}

.link_block a {
    padding-left: 16px;
    background: url("../images/play.png") no-repeat left center;
    color: #74c7ee;
    font-size: 14px;
    font-family: futurafuturiscregular;
    text-transform: uppercase;

    text-decoration: underline;
}

.link_block a:hover {
    text-decoration: none;
}

.link_block a.active {
    background: url("../images/pause.png") no-repeat left center;
    color: #30348c;
}

.link_block p {
    font-family: futurafuturislightcregular;
    color: #828282;
    font-size: 13px;
}

.bb {
    border-bottom: none;
}

.rig_a_k_block {
    width: 170px;
    height: 320px;
    float: right;
}

.gr_big_t {
    color: #555555;
    font-size: 14px;
    font-family: futurafuturislightcregular;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.spa_bl {
    font-family: futurafuturislightcregular;
    color: #828282;
    font-size: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
}

.spa_bl span {
    color: #74c7ee;
    font-size: 28px;
    font-family: futurafuturiscbold;
    margin-right: 7px;
}

.gr_t {
    font-family: futurafuturislightcregular;
    font-size: 13px;
    color: #828282;
}

.bl_a {
    color: #30348c;
    font-family: futurafuturiscregular;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.bott_buttons {
    height: 35px;
    width: 777px;
    position: absolute;
    bottom: -64px;
    left: 0;

}

.ore_c {
    text-decoration: none;
}

.ore_c:hover {
    text-decoration: underline;
}

.blue_btn_skya {
    background: #DBF3FF;
    border: medium none;
    color: #4289b2;
    cursor: pointer;
    font-family: futurafuturiscregular;
    font-size: 12px;
    padding: 9px 15px;
    text-transform: uppercase;
    text-decoration: none;
}

.blue_btn_skya:hover {
    text-decoration: underline;
}

.video_block {
    width: 350px;
    height: 330px;
}

/*страница тренировки*/

/*страница дневник*/
.lft {
    width: 170px;
    height: 400px;
    float: left;
}

.spa_bla {
    color: #828282;
    font-family: futurafuturislightcregular;
    font-size: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.spa_bla span {
    color: #74c7ee;
    font-size: 28px;
    font-family: futurafuturiscbold;
    margin-right: 7px;
}

.sand_fr {
    font-family: futurafuturiscregular;
    font-size: 12px;
    color: #4c4f9b;
    text-transform: uppercase;
}

.soc {
    height: 28px;
    margin-top: 4px;
    padding-bottom: 11px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;

}

.soc li {
    float: left;
    margin-right: 8px;
}

.soc li a {
    width: 28px;
    height: 28px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.ok_s {
    background: url("../images/ok_s.png") no-repeat center center;
}

.fb_s {
    background: url("../images/fb_s.png") no-repeat center center;
}

.vk_s {
    background: url("../images/vk_s.png") no-repeat center center;
}

.bl_ue {
    color: #30348c !important;
}

.bor_b {
    border-bottom: 1px solid #e5e5e5;
}

.right_tr_blocka {
    float: right;
    height: 400px;
    margin-right: 20px;
    margin-top: 20px;
    width: 390px;
}

.sovet {
    font-family: futurafuturiscregular;
    color: #30348c;
    font-size: 14px;
    text-transform: uppercase;
}

.gr_t_a {
    font-family: futurafuturiscregular;
    color: #74c7ee;
    font-size: 14px;
    text-decoration: underline;
}

.gr_t_a:hover {
    text-decoration: none;
}

.r_ft {
    width: 180px;
    height: 400px;
    position: relative;
}

.link_blocks {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 5px;
    padding-bottom: 7px;
}

.link_blocks a {
    color: #74c7ee;
    font-family: futurafuturiscregular;
    font-size: 14px;
    text-decoration: underline;
    text-transform: uppercase;
}

.link_blocks a:hover {
    text-decoration: none;
}

.link_blocks p {
    color: #828282;
    font-family: futurafuturislightcregular;
    font-size: 13px;
    line-height: 16px;
}

.wi_d_27 {
    width: 28px;
    padding: 0;
    text-align: center;
}

.wr_all_params {
    height: 38px;
    margin-bottom: 0;
    overflow: hidden;
    width: 190px;
    margin-top: 7px;
}

.shadow_alert {
    width: 213px;
    position: absolute;
    z-index: 200;
    background: #ECEBEB;
    padding: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.44);
    -moz-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.44);
    box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.44);
    right: 190px;
    display: none;
}

.active_show_inp {
    color: #30348c !important;
}

.wr_all_params span {
    color: #828282;
    font-family: futurafuturislightcregular;
    font-size: 14px;
    margin-left: 5px;
}

.bott_buttonsa {
    bottom: -64px;
    height: 35px;
    left: 0;
    position: absolute;
    width: 240px;
}

.ba2 {
    border-bottom: none;
    margin-bottom: 20px;
}

.awpaddd {
    padding: 9px 56px;
    text-decoration: none;
    position: absolute;
    bottom: 0;
}

.awpaddd:hover {
    text-decoration: underline;
}

.shadow_alert p {
    color: #717171;
    font-family: futurafuturislightcregular;
    font-size: 14px;
}

/*страница дневник*/

/*промо страница*/
.blue_blocks_top {
    width: 100%;
    height: 48px;
    border-top: 1px solid #9195D9;
    background: #2A3190;
    text-align: center;
    line-height: 48px;
    margin-top: 20px;
}

.content_promo {
    height: 600px;
    background: #ffffff;
}

.blue_blocks_top p {
    font-family: futurafuturislightcregular;
    color: #ffffff;
    font-size: 28px;
}

.blue_blocks_top p span {
    font-family: futurafuturiscregular;
}

.con_bl {
    width: 665px;
    margin: 0 auto;
    height: 530px;
}

.left_part {
    width: 310px;
    height: 530px;
    float: left;
    position: relative;
}

.right_part {
    float: right;
    width: 320px;
    height: 530px;
}

.image_promo {
    margin-top: 60px;
    margin-left: 10px;

}

.text_block_promo {
    position: absolute;
    bottom: 33px;
}

.text_block_promo p {
    margin-top: 3px;
    color: #2e235c;
    font-size: 16px;
    font-family: futurafuturislightcregular;
}
.text_block_promo p strong {font-weight: bold;}

.big_text {
    color: #232878;
    font-family: futurafuturislightcregular;
    font-size: 91px;
    text-transform: uppercase;
    line-height: 97px;
    margin-top: 42px;
}

.big_a {
    color: #232878;
    font-size: 41px;
    font-family: futurafuturislightcregular;
}

.pr {
    width: 150px;
    height: 51px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    background: url("../images/fit_logo_pr.png") no-repeat left bottom;
    margin-left: 12px;
}

.to_tran {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 300px;
    height: 68px;
    line-height: 68px;
    color: #ffffff;
    background: #23C8F0;
    font-size: 28px;
    font-family: futurafuturiscregular;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-top: 60px;
}

.to_tran:hover {
    text-decoration: underline;
}

.popups {
    position: fixed;
    width: 742px;
    height: 422px;
    top: 50%;
    left: 50%;
    margin: -211px 0 0 -371px;
    z-index: 1000;
    display: none;
    -webkit-box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.54);
    -moz-box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.54);
    box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.54);
}

.closes {
    display: block;
    background: url("../images/close.png") no-repeat;
    width: 10px;
    cursor: pointer;
    height: 10px;
    position: absolute;
    top: 15px;
    right: 15px;

}

.hidd_b {
    display: none;
}

.orange_text {
    color: #D6520F !important;
}

.red_colors {
    color: #B72E2D !important;
}

.dark_color {
    color: #250000 !important;
}

.a_img {
    margin-top: 40px;
}

.blues_li.active {
    border-left: 2px solid #30348c;
}

.orange_li.active {
    border-left: 2px solid #d6520f;
}

.red_li.active {
    border-left: 2px solid #b72e2d;
}

.brown_li.active {
    border-left: 2px solid #250000;
}

.mr_7 {
    margin-top: 14px;
    position: relative;
    z-index: 200;
}

.actt {
    margin-right: 22px;
    margin-top: 19px;
}

.grays_t {
    background: #D0D0D0;
    cursor: default !important;
    color: #B2B4B5;
}

.grays_t:hover {
    text-decoration: none !important;
}

/*промо страница*/

/*попап совет дня*/
.overlay {
    display: none;
    position: fixed;
    z-index: 999;
    opacity: 0.5;
    filter: alpha(opacity=50);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
}

.popup_sovet {
    width: 510px;
    height: 110px;
    margin: -82px 0 0 -287px;
    display: none;
    position: fixed;
    background: #F5F5F5;
    top: 50%;
    left: 50%;
    z-index: 1000;
    border-radius: 3px;
    padding: 30px;
    -webkit-box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.54);
    -moz-box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.54);
    box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.54);
}

.popup_registr {
    width: 510px;
    min-height: 110px;
    margin: -82px 0 0 -287px;
    display: none;
    position: fixed;
    background: #F5F5F5;
    top: 50%;
    left: 50%;
    z-index: 1000;
    border-radius: 3px;
    padding: 30px;
    -webkit-box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.54);
    -moz-box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.54);
    box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.54);
}

.register {
    text-align: center;
    color: #74c7ee;
    font-family: futurafuturislightcregular;
    font-size: 30px;
    margin-top: 50px;
    text-transform: uppercase;
}

.popup-con {
    width: 525px;
    height: 338px;
    margin: -179px 0 0 -293px;
    display: none;
    position: fixed;
    background: #F5F5F5;
    top: 50%;
    left: 50%;
    z-index: 1000;
    border-radius: 3px;
    padding: 30px;
    -webkit-box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.54);
    -moz-box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.54);
    box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.54);
}

.popup {
}

.close {
    display: block;
    background: url("../images/close.png") no-repeat;
    width: 10px;
    cursor: pointer;
    height: 10px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.wr_zag {
    font-family: futurafuturiscregular;
    color: #30348c;
    font-size: 14px;
    text-transform: uppercase;
}

.wr_text {
    color: #828282;
    font-family: futurafuturislightcregular;
    font-size: 13px;
    margin-top: 12px;
}

.cc_sa {
    margin-bottom: 4px;
}

.wi_d_512 {
    width: 512px;
}

.ta_za {
    background: none repeat scroll 0 0 #c8ebf6;
    border: medium none;
    border-radius: 8px;
    box-shadow: 0 4px 5px -1px rgba(162, 215, 235, 0.77) inset;
    color: #30348c;
    font-family: futurafuturislightcregular;
    font-size: 16px;
    min-height: 180px;
    max-height: 180px;
    padding-top: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    min-width: 512px;
    max-width: 512px;
}

/*попап совет дня*/

.pr_s {
    height: 22px;
    width: 741px;
}

.left_l {
    width: 55px;
    height: 24px;
    background: url("../images/nestle-comp-fade-left.png") no-repeat;
    position: absolute;
    left: -11px;
    top: 0;
}

.right_l {
    width: 55px;
    height: 24px;
    background: url("../images/nestle-comp-fade-right.png") no-repeat;
    position: absolute;
    right: -11px;
    top: 0;
}

.clouds {
}

.link_fra {
    float: right;
}

.cloudsa {
    font-size: 13px;
    color: #cac8c8;
    font-family: futurafuturislightcregular;
    padding-left: 20px;
    width: 120px !important;
    background: url("../images/cloud.png") no-repeat 0 -16px;
    text-decoration: none !important;
}

.cloudsa:hover {
    background-position: 0 2px;
    color: #30348c;
}

.li_nka {
    padding-top: 0 !important;
}

.link_fraan {
    margin-top: 8px;
    margin-bottom: 15px;
}


.avat_p_edit img {
    width: 179px;
    height: auto;
}

#controls span {
    display:inline-block;
}

#playpause {
    color:#333;
    padding:0 5px;
    font-size:12pt;
    text-transform:uppercase;
    width:50px;
}

.aa_orc {
    margin-right: 23px;
}

.tab_containers p {
    margin-bottom: 8px;
    color: #232878;
}

.text_error {
    font-family: futurafuturislightcregular;
    color: #a00000;
    font-size: 12px;
    text-transform: capitalize;
    margin-left: 5px;
}

.video_blocks {
    width: 810px;
    height: 450px;
    position: relative;
}

.contentsa {
    background: none repeat scroll 0 0 #f6f6f6;
    box-shadow: 0 4px 4px 0 rgba(168, 188, 197, 0.87);
    height: 450px;
}

.remove_vide0 {
    background: #8f8f8f;
    color: #fff;
    text-transform: uppercase;
    font-family: futurafuturiscregular;
    text-decoration: none;
    position: absolute;
    padding: 9px 20px;
    font-size: 12px;
    bottom: 20px;
    right: 22px;
}

.remove_vide0:hover {
    text-decoration: underline;
}

/* POPUP */
.clearfix:after {clear: both;content: "";display: block;height: 0;}

.popup-wrapper {width: 744px;height: 518px; background: #f5f4f5; padding: 19px;}
.popup-wrapper .video-wrapper { background-color: #f5f4f5; height: 368px;}
.popup-wrapper .popup-padding {padding: 0 55px 0 27px;}
.popup-wrapper .about {padding-left: 8px;  color: #9a9a9a; font-family: futurafuturislightcregular; font-size: 13px;line-height: 15px; margin-top: 20px;}
.popup-wrapper .btns-list {margin-top: 28px;}
.popup-wrapper .btns-list li { float: left; margin-right: 20px;}
.popup-wrapper .btns-list li a {text-indent: -9999px; display: inline-block; text-decoration: none;}
.popup-wrapper .btns-list li a:hover {opacity: 0.8;}
.popup-wrapper .btns-list li a.btn-back {
    width: 160px;
    height: 37px;
    background-color: #8f8f8f;
    text-indent: 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 9px 20px;
    box-sizing: border-box;
    font-size: 12px;
}
.popup-wrapper .btns-list li a.btn-choose {
  width: 142px;
  height: 37px;
  background-color: #8f8f8f;
  text-indent: 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 9px 20px;
  box-sizing: border-box;
  font-size: 12px;
}
.popup-wrapper.intro {
    width: 810px;
    height: 537px;
}

.text_block_promo span {
    font-family: futurafuturiscregular;
    font-weight: bold;
}

.pane_scr {
    height: 180px !important;
}

#motivation_video {
    border: 1px solid #8f8f8f;
}

.video_block #motivation_video {
    max-width: 300px;
    max-height: 328px;
    box-sizing: border-box;
}

#promo_video {
    border: 1px solid #8f8f8f;
}

.video_block #promo_video {
    max-width: 300px;
    max-height: 328px;
}

#join_video {
    border: 1px solid #8f8f8f;
}

.video_block #join_video {
    max-width: 300px;
    max-height: 328px;
}

.popup .register {
    line-height: 1;
    margin-top: 30px;
}

.blue_btn_sky[disabled] {
    background-color: #888;
    text-decoration: none;
    cursor: default;
}

.hasError {
    border: 1px solid #b72e2d;
    height: 27px;
}

p.no_statement {
    display: none;
}

.images_prize img {
  max-width: 100%;
  max-height: 100%;
}

.images_prize.uncollected img {
    filter: url('../js/filters.svg#grayscale');
    filter: gray;
    -webkit-filter: grayscale(100%);
}

.one_user_rating.bottom {
  margin-left: 20px;
}

.fl_r.a_img img {
  height: 260px;
}

.tabs.tabson img {
  height: 68px;
}

.div_social_bl .yashare-auto-init {
margin-top: 21px;
}

.star.star {color:red;}
 
 .clear-new:after {
    content: '';
    display: table;
    clear: both;
 }
