{% extends 'base.html' %}

{% block page_title %}
    <title>About_product</title>
{% endblock %}


{% block content %}

    {% include 'blocks/header.html' with day=day trainer=trainer is_about=1 %}


<main class="content">
    <h1 class="h1_class">о продукте</h1>

    <div class="left_product_block">

        <ul class="tabs tabson">
            <li class="blues_li active"><a href="#tab1"><img src="/static/images/product.png"></a><span class="hidd_arra"></span></li>
            <li class="orange_li"><a href="#tab2"><img src="/static/images/product2.png"></a><span class="hidd_arra"></span></li>
            <li class="red_li"><a href="#tab3"><img src="/static/images/product3.png"></a><span class="hidd_arra"></span></li>
            <li class="brown_li"><a href="#tab4"><img src="/static/images/product4.png"></a><span class="hidd_arra"></span></li>
        </ul>

        <div class="tab_container">
            <div id="tab1" class="tab_content">
                <div class="fl_r a_img">
                    <img src="/static/images/product.png" alt="">
                </div>
                <div class="right_product_block">
                    <h2 class="style_h2">Хлопья Nestle Fitness®</h2>

                    <p class="sm-SIZE_GR_TEXT">Хлопья Nestle Fitness – элементарно вкусно!</p>
                    <br>

                    <p class="sm-SIZE_GR_TEXT">Шанс начать день правильно выпадает только раз в день. Так что начни свое
                        утро с тарелки восхитительных хлопьев Nestle Fitness и улыбнись предстоящему дню. В одной порции
                        (30г) хлопьев Nestle Fitness содержится около 14 г цельного зерна пшеницы, которое является
                        неотъемлемой частью сбалансированной диеты. Помни, что с каждой порцией хлопьев Nestle Fitness
                        твой организм получает минимум жиров (всего 0,5 грамма на порцию), а сверх того – витамины и
                        минералы, включая кальций и железо. Помимо несомненной пользы для твоего организма, хлопья
                        Nestle Fitness сделают каждый твой завтрак настоящим торжеством вкуса. Приятного аппетита!</p>

                </div>
            </div>


            <div id="tab2" class="tab_content">
                <div class="fl_r a_img">
                    <img src="/static/images/product2.png" alt="">
                </div>
                <div class="right_product_block">
                    <h2 class="style_h2 orange_text">Хлопья Nestle Fitness®<br>
                        Фрукты, ягоды и орехи
                    </h2>

                    <p class="sm-SIZE_GR_TEXT">Хлопья Nestle Fitness – элементарно вкусно!</p>
                    <br>

                    <p class="sm-SIZE_GR_TEXT">Открой для себя восхитительный вкус хлопьев Nestle Fitness
                        Фрукты, ягоды и орехи
                    </p>
                    <br>

                    <p class="sm-SIZE_GR_TEXT">Шанс начать день правильно выпадает только раз в день. Так что начни свое
                        утро с тарелки восхитительных хлопьев Nestle Fitness Фрукты, ягоды и орехи и улыбнись
                        предстоящему дню. В одной порции (40г) хлопьев Nestle Fitness & Fruits содержится около 14 г
                        цельного зерна пшеницы, которое является неотъемлемой частью сбалансированной диеты. Помни, что
                        с каждой порцией хлопьев Nestle Fitness Фрукты, ягоды и орехи твой организм получает минимум
                        жиров, а сверх того – витамины и минералы, включая кальций и железо. </p>
                    <br>

                    <p class="sm-SIZE_GR_TEXT">Хлопья Nestle Fitness понравятся даже самым привередливым. Экзотическая
                        смесь ананаса, папайи, мякоти кокоса и изюма отправят твои вкусовые рецепторы в экзотическое
                        путешествие по тропикам. Приятного аппетита!</p>

                </div>
            </div>
            <div id="tab3" class="tab_content">
                <div class="fl_r a_img">
                    <img src="/static/images/product3.png" alt="">
                </div>
                <div class="right_product_block">
                    <h2 class="style_h2 red_colors">Хлопья Nestle Fitness® Клубника</h2>

                    <p class="sm-SIZE_GR_TEXT">Хлопья Nestle Fitness – элементарно вкусно!</p>
                    <br>

                    <p class="sm-SIZE_GR_TEXT">Открой для себя восхитительный вкус хлопьев Хлопья Nestle Fitness
                        Клубника</p>
                    <br>

                    <p class="sm-SIZE_GR_TEXT">Шанс начать день правильно выпадает только раз в день. Так что начни свое
                        утро с тарелки восхитительных хлопьев Nestle Fitness Клубника и улыбнись предстоящему дню. В
                        одной порции (30г) хлопьев Nestle Fitness содержится около 13 г цельного зерна пшеницы, которое
                        является неотъемлемой частью сбалансированной диеты. Помни, что с каждой порцией хлопьев Nestle
                        Fitness твой Клубника твой организм получает минимум жиров, а сверх того – витамины и минералы,
                        включая кальций и железо. Хлопья Nestle Fitness с клубникой понравятся даже самым привередливым.
                        Каждая порция – это восхитительная смесь фруктового удовольствия с кусочками настоящей клубники.
                        Балуй себя каждое утро! Приятного аппетита!</p>

                </div>
            </div>
            <div id="tab4" class="tab_content">
                <div class="fl_r a_img">
                    <img src="/static/images/product4.png" alt="">
                </div>
                <div class="right_product_block">
                    <h2 class="style_h2 dark_color">Хлопья Nestle Fitness® Темный шоколад </h2>

                    <p class="sm-SIZE_GR_TEXT">Хлопья Nestle Fitness – элементарно вкусно!</p>
                    <br>

                    <p class="sm-SIZE_GR_TEXT">Открой для себя вкус Хлопья Nestle Fitness Темный шоколад</p>
                    <br>

                    <p class="sm-SIZE_GR_TEXT">Шанс начать день правильно выпадает только раз в день. Так что начни свое
                        утро с тарелки восхитительных хлопьев Nestle Fitness Темный шоколад и улыбнись предстоящему дню.
                        В одной порции (30г) хлопьев Nestle Fitness содержится около 10г цельного зерна пшеницы, которое
                        является неотъемлемой частью сбалансированной диеты. Помни, что с каждой порцией хлопьев Nestle
                        Fitness Темный шоколад твой организм дополнительно получает витамины и минералы, включая кальций
                        и железо.</p>
                    <br>

                    <p class="sm-SIZE_GR_TEXT">Поддайся темному соблазну восхитительного вкуса хлопьев Nestle Fitness
                        Темный шоколад, который содержит 55% какао. Теперь каждый шокоголик может завтракать спокойной
                        совестью и счастливой улыбкой на лице. Приятного аппетита!</p>

                </div>
            </div>
        </div>

    </div>


</main>
<!-- .content -->

    {% if vk %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url vk=1 %}
    {% else %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url %}
    {% endif %}

    <script type="text/javascript">
        ga('send', 'pageview', 'about');
    </script>

{% endblock %}
