{% extends 'base.html' %}
    
{% block page_title %}
    <title>Anketa</title>
{% endblock %}


{% block vk_libs %}
    {% if vk %}
    {% else %}
    {% endif %}
{% endblock %}

{% block content %}

    {% include 'blocks/header.html' with day=day trainer=trainer  %}
    <script src="/static/js/grayscale.js"></script>
    <script src="/static/js/functions.js"></script>
    <main class="content">
        <h1 class="h1_class">Анкета</h1>

        <div class="anketa_wrapp">
            <div class="left_anketa_block">
                <div class="avat_p"><img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}/static/images/userpic-1.png{% endif %}" width="100%" alt=""></div>

                <p class="info_p">{{ user.first_name }} {{ user.last_name}},</p>

                <p class="info_p">{{ user.age }} года</p>

                <p class="info_p"><span>{{ user.weight }} кг</span>&nbsp;<span>{{ user.growth }} см</span></p>

                <p class="edit_prophile_link"><a href="/profile/{% if vk %}vk/{% endif %}">Редактировать профиль</a></p>
            </div>
            <div class="right_anketa_block">
                <div class="wrapp_anketa">
                    <div class="top_anketa_head">
                        <p class="ank_wr_head">ВсЕ доступные достижения</p>
                    </div>

                    <div class="content_part_rating_w ">
                        <div class="we_conts">
                            <div class="scroll-pane2">
                            {% if badges %}
                                {% for badge in badges.all %}
                                    <div class="one_achivement clear-new" id ="{{ badge.code }}">
                                        <div class="images_prize uncollected"><img src="/static/images/badges/{{ badge.code }}.png" alt=""></div>
                                        <div class="text_block_ach">
                                            <p class="pervo">{{ badge.name }}</p>
                                            <p class="bha">{{ badge.description }}</p>
                                            <p class="za no_statement">Баллы на победу отправлены</p>
                                        </div>

                                        {% if vk %}
                                            <div class="link_fr">
                                                <ul class="li_nk">
                                                    <li><a class="clouds">Расскажи друзьям</a></li>
                                                </ul>
                                            </div>
                                            <div class="link_fraa fr" style="display: none;">
                                                <ul class="li_nka">
                                                    <li><a class="clouds active" id='share_{{ badge.code }}' href="#">Расскажи друзьям</a></li>
                                                </ul>
                                                <div class="share_info" style="display: none;">
                                                    <span class="vk_share_url" style="display: none;">{{vk_share_url}}</span>
                                                    <div class="badge_code">{{badge.code}}</div>
                                                    <div class="share_message">Nestle Fitness\n{{badge.share_text}}</div>
                                                    <div class="share_badge">{{badge.icon_vkid}}</div>
                                                </div>
                                                <script>
                                                    $('#share_{{ badge.code }}').on('click', function() {
                                                        var parent = $($(this)[0]).parents('.link_fraa')[0];
                                                        var info = $(parent).find('.vk_share_url');
                                                        var image = $(parent).find('.share_badge');
                                                        var code = $(parent).find('.badge_code');

                                                        if (code.html() == 'fitnes_abonement') {
                                                            jQuery.ajax({
                                                                url:     '/api/burned/',
                                                                type:     "GET",
                                                                dataType: "json",
                                                                success: function(response) {
                                                                    VK.api('wall.post',{
                                                                        message: "Nestle Fitness\n{{ badge.share_text }}".replace('XXX', response.today),
                                                                        attachments: image.html() + "," + info.html()
                                                                    });
                                                                    ga('send', 'share_vkapp', 'badge');
                                                                },
                                                                error: function(response) { console.log("Ошибка при получении сожжёных калорий") }
                                                            });

                                                        } else {
                                                            VK.api('wall.post',{
                                                                message: "Nestle Fitness\n{{ badge.share_text }}",
                                                                attachments: image.html() + "," + info.html()
                                                            });
                                                            ga('send', 'share_vkapp', 'badge');
                                                        };
                                                    })
                                                </script>
                                            </div>
                                        {% else %}
                                            <div class="div_social_bl">
                                                <ul class="soc_gray_icon">
                                                    <li><a class="ok_com_gray"></a></li>
                                                    <li><a class="face_com_gray"></a></li>
                                                    <li><a class="vk_com_gray"></a></li>
                                                </ul>
                                                <span id="site_yashare_{{ badge.code }}" class="site_yashare" style="display: none;"></span>
                                                <script>
                                                    new Ya.share({
                                                        element: 'site_yashare_{{ badge.code }}',
                                                        elementStyle: {
                                                            type:'none',
                                                            'quickServices': ['odnoklassniki', 'facebook', 'vkontakte']
                                                        },
                                                        title: 'Nestle Fitness',
                                                        description: "{{ badge.share_text }}",
                                                        image: "https://{{share_static}}static/images/badges_social/{{ badge.code }}.jpg",
                                                        link: "{{share_url}}",
                                                        onshare: function (service) {
                                                            $.ajax({
                                                                url: '/api/share/'
                                                            });
                                                            ga('send', 'share_' + service, 'badge');
                                                        }
                                                    });
                                                </script>
                                                <!-- <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" -->
                                                    <!-- data-yashareQuickServices="odnoklassniki,facebook,vkontakte" -->
                                                    <!-- data-yashareTitle="Nestle Fitness" -->
                                                    <!-- data-yashareDescription= "{{ badge.share_text }}" -->
                                                    <!-- data-yashareImage="{{share_static}}/static/images/badges_social/{{ badge.code }}.jpg" style="display: none;"> -->
                                                <!-- </div> -->
                                            </div>
                                        {% endif %}

                                    </div>
                                {% endfor %}
                                <script>
                                    $('.yashare-auto-init').on('onshare', function() {
                                        $.ajax({
                                            url: '/api/share/'
                                        })

                                    })

                                    var badges = {{ badges.own | safe }};
                                    for(var i=0; i<badges.length;i++) {
                                        var id_mask = "#" + badges[i].code;

                                        if(badges[i].sended) {
                                            $($(id_mask)[0]).find('.za').removeClass('no_statement');
                                        };
                                        $($(id_mask)[0]).find('.images_prize').removeClass('uncollected')
                                        {% if vk %}
                                        $($(id_mask)[0]).find('.link_fr').hide()
                                        $($(id_mask)[0]).find('.link_fraa').show()
                                        {% else %}
                                        $($(id_mask)[0]).find('.soc_gray_icon').hide()
                                        // $($(id_mask)[0]).find('.site_yashare').show()
                                        $($(id_mask)[0]).find('#site_yashare_'+badges[i].code).show()
                                        // $($(id_mask)[0]).find('.yashare-auto-init').show()
                                        {% endif %}
                                    }

                                    //сортировка бейджей по "полученности"
                                    function sortee() {
                                        var elems = $('.uncollected').parents('.one_achivement').detach();
                                        elems.appendTo('.scroll-pane2');
                                        var elems = $('.uncollected').parents('.one_achivement').detach();
                                        elems.appendTo('.scroll-pane2')
                                        //одноразовое исполнение меняет порядок объёктов на противоположный
                                    };
                                    $(function (){
                                        sortee();
                                    });

                                    // $('.clouds.active').on('click', function() {
                                    //     var parents = $($(this)[0]).parents('.link_fraa');
                                    //     var shares = $(parents[0]).find('.yashare-auto-init');
                                    //     var links = $(shares[0]).find('a');
                                    //     $(links)[0].click();

                                    //     var parents = $($(this)[0]).parents('.link_fraa');
                                    //     var info = $(parents[0]).find('.yashare-auto-init');
                                    //     VK.api('wall.post',{
                                    //         message: "Тут должно быть достижение\n <strong>fdfDSF</strong>",
                                    //         attachments: "photo25962097_303689037"
                                    //     });
                                    // })
                                </script>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <p class="p_grays mr_tr">Открыто <span class="opened_badges">0</span> из 12 достижений.</p>
                <p class="p_grays">Если ты откроешь 5 достижений — ты отправляешь один балл на победу!</p>
                <script>
                    var badges = {{ badges.own | safe }};
                    $('.opened_badges')[0].innerText = badges.length;
                </script>

            </div>
        </div>

    </main>
    <!-- .content -->

    {% if vk %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url vk=1 %}
    {% else %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url %}
    {% endif %}

    <script type="text/javascript">
        ga('send', 'pageview', 'cabinet');
    </script>

{% endblock %}
