<!DOCTYPE html>
<html>
<head>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60864076-1', 'auto');
        ga('send', 'source', '{% if vk %}vk app{% else %}site{% endif %}')
        ga('send', 'visitor', '{% if user.username %}{{user.username}}{% else %}anonymous{% endif %}')
        {% if user.username %}
            ga('send', 'gender', { 'username': '{{user.username}}', 'gender': '{{user.sex}}'})
        {% endif %}
    </script>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=810px">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    {% block page_title %}{% endblock %}
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <meta property="og:title" content="Nestle Fitness"/>
    <meta property="og:image" content="/static/images/small_share.jpg"/>
    <meta property="og:description" content="Сказала «пока» назойливым калориям. Пошла есть булки :-D"/>

    {% block addon_styles %}
        {% if vk %}
            <link href="/static/css/style.vk.css?version=201505051716" rel="stylesheet" type="text/css">
        {% else %}
            <link href="/static/css/style.css?version=201505051716" rel="stylesheet" type="text/css">
        {% endif %}
    {% endblock %}
    <link href="/static/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="/static/css/jquery.jscrollpane.css" rel="stylesheet" type="text/css">


    <script src="/static/js/jquery-1.8.1.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.jcarousel.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.mousewheel.js" type="text/javascript"></script>
    <script src="/static/js/jquery.jscrollpane.min.js" type="text/javascript"></script>
    <script src="/static/js/main.js?version=201505051716" type="text/javascript"></script>

    <script type="text/javascript">
        ga('send', 'pageview', {
            'page': window.location.pathname,
            'title': $(document).find('title').text(),
        });
    </script>

    <!--social button-->
    <script type="text/javascript" src="/static/js/share.js" charset="utf-8"></script>

    {% block template_scripts %}
    {% endblock %}
    {% block vk_libs %}
    {% endblock %}

</head>



<body>
     {% if vk %}
        <script src="//vk.com/js/api/xd_connection.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(function () {
                VK.init(function() {
                        VK.addCallback("onSettingsChanged", onSettingsChanged);
                    }
                );
                {% if not request.user.is_authenticated %}
                    startConnect();
                {% endif %}
            })

            function startConnect() {
                VK.callMethod('showInstallBox');
            }

            VK.addCallback("onApplicationAdded", requestRights);
            function requestRights() {
                VK.callMethod('showSettingsBox', 1 + 2);
            }

            function onSettingsChanged(settings) {
                window.location.reload()
            }
        </script>
        {% if not request.user.is_authenticated %}
            <a href="#" class="authentificate" style="display: none; " onclick="startConnect(); return false;">Click to authentificate</a>
            <script>
                $('.authentificate')[0].click();
            </script>
        {% endif%}
    {% endif %}

    <div class="_registered_users" style="display:none;">{{registered_users}}</div>
    <div class="wrapper">

        {% block content %}
        {% endblock %}

    </div>
</body>

</html>
