{% extends 'base.html' %}

{% block page_title %}
    <title>Change password</title>
{% endblock %}

{% block addon_styles %}
    <link href="/static/css/style.css?version=201505051716" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}

    {% include 'blocks/header.html' %}

    <main class="content">
        <h1 class="h1_class">Восстановление пароля</h1>
        <div class="center_pass_form">
            <p class="gr_text">Для восстановления пароля введите e-mail,<br> указанный при регистрации</p>

            <form method="post">
                {% csrf_token %}
                <p class="zag_form">Электронная почта:</p>
                <input type="text" class="type_text_s wi_d_305 mar_bottom_bl_b" name="email">
                <input class="blue_btn_sky ma_r_le" type="submit" rel="popup5" value="восcтановить">
                <div class="overlay"></div>
                <div class="popup popup_registr" id="popup5">
                    <span class="close"></span>
                        <p class="register">
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        {% endif %}
                        </p>
                </div>
                {% if messages %}
                    <script>
                        $('#popup5').show();
                        $('.overlay').show();
                    </script>
                {% endif %}
            </form>
        </div>
    </main>
    <!-- .content -->

    {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url  %}

{% endblock %}
