{% extends 'base.html' %}

{% block page_title %}
    <title>Diary</title>
{% endblock %}


{% block template_scripts %}
{% endblock %}

{% block content %}

    {% include 'blocks/header.html' with day=day trainer=trainer is_diary=1 %}

    <div id="user_weight" style="display: none;">{{user.weight}}</div>
<main class="content">
    <h1 class="h1_class">Дневник</h1>

    <div class="left_treners_block">
        <div class="video_block">
            <video id="motivation_video" poster="/static/images/poster.jpg" autoplay>
                <source src="{{videos.0.video_url}}" type='video/mp4'/>
            </video>
        </div>

        <div class='auto_play_videos' style='display:none'>
            {% for video in videos %}
            <div class='item motivation {% if forloop.first %}first{% endif %}{% if forloop.last %}last{% endif %}'>{{ video.video_url }}</div>
            {% endfor %}
        </div>

        <div class="bott_buttonsa">
            <a class="blue_btn_skya fl" href="/diet/{% if vk %}vk/{% endif %}?trainer_id={{ trainer.id }}{% if last_day %}&last_day={{last_day}}{% endif %}">Вернуться К программе питания</a>
        </div>
    </div>

    <div class="right_tr_blocka">
        <div class="lft">
            <div>
                <p class="gr_big_t">БУДЕТ СОЖЖЕНО</p>

                <p class="spa_bla "><span class="burned_today">0</span>калории</p>

                <p class="sand_fr">Поделиться результатом:</p>

                {% if vk %}
                    <div class="link_fraan">
                        <ul class="li_nka">
                            <li><a class="cloudsa" id="vk_share" href="#">Расскажи друзьям</a></li>
                        </ul>
                        <span class="vk_share_url" style="display: none;">{{vk_share_url}}</span>
                        <script>
                            $('#vk_share').on('click', function() {
                                var parent = $($(this)[0]).parents('.link_fraan')[0];
                                var info = $(parent).find('.vk_share_url');

                                VK.api('wall.post',{
                                    message: "Nestle Fitness\nРаспрощалась сегодня с {{burned.daily}} калориями.\n Занимайся с Nestlé Fitness и выигрывай поездку на Бали!",
                                    attachments: "photo25962097_364101709," + info.html()
                                });
                                ga('send', 'share', 'day');
                                ga('send', 'share_vkapp', 'day');
                            })
                        </script>
                    </div>
                {% else %}
                    <span id="site_yashare1"></span>
                    <script>
                        new Ya.share({
                            element: 'site_yashare1',
                            elementStyle: {
                                type:'none',
                                'quickServices': ['odnoklassniki', 'facebook', 'vkontakte']
                            },
                            title: 'Nestle Fitness',
                            description: "Распрощалась сегодня с {{burned.daily}} калориями. Занимайся с Nestlé Fitness и выигрывай поездку на Бали!",
                            image: "{{site_url}}/static/images/badges_social/general_social.jpg",
                            link: "{{share_url}}",
                            onshare: function (service) {
                                $.ajax({
                                    url: '/api/share/'
                                });
                                ga('send', 'share', 'day');
                                ga('send', 'share_' + service, 'day');
                            }
                        });
                    </script>
                {% endif %}
                <script>
                    $('.yashare-auto-init').on('onshare', function() {
                        $.ajax({
                            url: '/api/share/'
                        })

                    })
                </script>

                <div class="clear"></div>
            </div>


            <div>
                <p class="gr_big_t">Всего сожжено</p>

                <p class="spa_bla bor_b">
                    <span class="bl_ue burned_total">0</span>
                    калории
                </p>
            </div>

            <p class="sovet">Совет дня:</p>

            <p class="gr_t">{{advice.announce}}</p>

            <p><a class="gr_t_a open_popup" rel="popup5" href="javascript:void(0)">читать полностью</a></p>


            <!-- ПОПАП СОВЕТ ДНЯ -->
            <div class="overlay"></div>
                <div class="popup popup_registr" id="popup5">
                    <span class="close"></span>

                    <p class="wr_zag">Совет дня:</p>

                    <p class="wr_text">{{advice.content|safe}}
                    </p>
                </div>
            <!-- ПОПАП СОВЕТ ДНЯ -->

            <div class="popup popup_registr" id="popup_weight">
                <span class="close"></span>

                <p class="wr_zag">Внимание!</p>

                <p class="wr_text">В профиле не задан ваш вес, вы будете получать данные что сожжено 0 калорий. Укажите там свои данные(такие как вес, рост и возраст), исправьте это и сохраните - калории будут считаться корректно</p>
                <p class="wr_text">Найти профиль можно по ссылке с баллами в верху экрана и в окне Анкета перейти по ссылке "Редактировать профиль"</p>
            </div>

        </div>

        <div class="r_ft fr">
            <p class="gr_big_t">Занеси свои<br>результаты в дневник</p>

            <div class="wr_all_bl">
                {% for form in forms %}
                <form method="post" action="/diary/?trainer_id={{trainer.id}}&exercise_id={{form.instance.exercise.id}}" class="diary_form">
                {% csrf_token %}

                    <div class="link_blocks">
                        <a href="#" class="show_inp">Упражнение №{{ forloop.counter }}</a>

                        <div class="wr_all_params hidd_b">
                            <div class="shadow_alert">
                                <span class="arr th"></span>
                                <p>Вы превысили лимит по количествуповторений/подходов.</p>
                            </div>
                            <input type="text" class="type_text_s inp wi_d_27" name="sets" {% if form.sets.value > 0 %}value={%else%}placeholder{% endif %}"{{form.sets.value}}"><span>подхода по</span>
                            <input type="text" class="type_text_s wi_d_27" name="repetitions" {% if form.sets.value > 0 %}value={%else%}placeholder{% endif %}"{{form.repetitions.value}}"><span>раз</span>

                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>


                        <p>Рекомендовано:</p>

                        <p><span class="primer">{{ form.instance.exercise.prescription_sets }}</span> подход по {{ form.instance.exercise.prescription_repetitions }} раза</p>
                    </div>
                </form>
                {% endfor %}
                <a class="blue_btn_sky awpaddd" href="javascript:{}">сохранить</a>
            </div>
        </div>
    </div>
</main>
<script>
    //управление видео
    var getLocation = function(href) {
        var l = document.createElement("a");
        l.href = href;
        return l;
    };

    $('#motivation_video').on('play', function() {
        var src = $(this).children('source')[0];
        $('.auto_play_videos div').removeClass('active');
        var path = getLocation(src.src).pathname
        $(".auto_play_videos div:contains('" + path + "')").addClass('active');
    });

    $('#motivation_video').on('ended', function() {
        var videos = $('.auto_play_videos div');

        for (var i=0; i<videos.length;i++) {
            if($(videos[i]).hasClass('active')) {

                var next_video; 
                if($(videos[i]).hasClass('last')) {
                    next_video = $('.auto_play_videos div.first')[0];
                } else {
                    next_video = $(videos[i]).next()[0];
                };

                var video = $('#motivation_video source')[0];
                video.src = next_video.innerText;
                $('#motivation_video').load()
            }
        }
    })
</script>
<script>
    $('.blue_btn_sky').on('click', function () {
        event.preventDefault();
        var forms = $('.diary_form');
        
        var sendedForms = AjaxFormRequest(forms);
        
        $.when.apply(null, sendedForms).done(function() {
           location.reload();
        });
    });

    function AjaxFormRequest(forms) { 
        var sendForms = [];
        
        for (var i = 0; i < forms.length; i++) {
            sendForms.push(
              jQuery.ajax({
                url:     $(forms[i]).attr("action"),
                type:     "POST",
                dataType: "json",
                data: $(forms[i]).serialize(), 
                success: function(response) {
                    if(response.error == 'превышено значение') {
                        $($(forms[i]).find('.shadow_alert')[0]).show();
                    } else {
                    }
                },
                error: function(response) {
                    console.log('ajax request error')
                }
                })
            )
        }

        return sendForms;
    };

    function UpdateBurning() {
        jQuery.ajax({
            {% if trainer %}
                {% if last_day%}
                    url:     '/api/burned/?trainer_id=' + {{trainer.id}} + '&last_day=' + {{last_day}},
                    {% else %}
                    url:     '/api/burned/?trainer_id=' + {{trainer.id}},
                {% endif %}
            {% else %}
                url:     '/api/burned/',
            {% endif %}
            type:     "GET",
            dataType: "json",
            success: function(response) {
                $('.burned_today')[0].innerText = response.daily;
                $('.burned_total')[0].innerText = response.total;
                var share_text = 'Распрощалась сегодня с ' + response.daily + ' калориями<br /n>Занимайся с Nestlé Fitness и выигрывай поездку на Бали!';
                $('#friend-share').attr('data-yasharedescription', share_text);
                if ($('#user_weight').html() == 0) {
                    $('.overlay').show();
                    $('#popup_weight').show();
                }
            },
            error: function(response) { console.log("Ошибка при получении сожжёных калорий") }
        });
    };

    $(window).load(function(){
        UpdateBurning();
        $($('.diary_form')[0]).find('.show_inp').click()
    });

</script>

    {% if vk %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url vk=1 %}
    {% else %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url  %}
    {% endif %}

    <script type="text/javascript">
        ga('send', 'pageview', 'diary');
    </script>

{% endblock %}
