{% extends 'base.html' %}

{% block page_title %}
    <title>Diary</title>
{% endblock %}


{% block content %}

    {% include 'blocks/header.html' with day=day trainer=trainer %}

    <main class="content">
        <h1 class="h1_class">Анкета</h1>

        <div class="anketa_wrapp">
        <form id="profile_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="left_anketa_block_edit">
            <div class="avat_p_edit"><label for="profile_avatar"><img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}/static/images/userpic-1.png{% endif %}" alt=""></label><input type="file" id="profile_avatar" name="avatar" value="{{form.avatar.value}}" style="visibility: hidden; position: absolute; left:-100500px;"></div>
            </div>

            <div class="right_anketa_block_edit">
                <p class="gr_text_edit">Заполните анкету, чтобы мы рассчитали вашу программу питания и тренировок.<br>
                    Поля, обязательные для заполнения, выделены <span class="star">*</span></p>

                    <div class="left_inp fl">
                        <p class="zag_form_n_m cc_s">Имя<span class="star">*</span></p>
                        <input class="type_text_s wi_d_245" type="text" name="first_name" maxlength="255" value="{{form.first_name.value}}">
                    </div>
                    <div class="right_inp fr">
                        <p class="zag_form_n_m cc_s">Фамилия<span class="star">*</span></p>
                        <input class="type_text_s wi_d_245" type="text" name="last_name" maxlength="255" value="{{form.last_name.value}}">
                    </div>
                    <div class="clear"></div>
                    <div class="wr_all_param">
                        <div class="parametres weight par_simp">
                            <p class="zag_form_n_m cc_s">Вес<span class="star">*</span></p>
                            <input type="text" class="type_text_s wi_d_125" name="weight" maxlength="3" value="{{form.weight.value}}"><span>кг</span>
                        </div>
                        <div class="parametres age par_simp">
                            <p class="zag_form_n_m cc_s">Возраст<span class="star">*</span></p>
                            <input type="text" class="type_text_s wi_d_125" name="age" maxlength="2" value="{{form.age.value}}"><span>лет</span>
                        </div>
                        <div class="parametres growth par_simp">
                            <p class="zag_form_n_m cc_s">Рост<span class="star">*</span></p>
                            <input type="text" class="type_text_s wi_d_125" name="growth" maxlength="3" value="{{form.growth.value}}"><span>см</span>
                        </div>
                        <div class="clear"></div>

                    </div>
                    <p class="gr_text_edit mt_edit">Изменение веса, возраста и/или роста может изменить программу питания, программу тренировок и результаты тренировок.</p>
                    <input class="blue_btn_sky s_padd" disabled type="submit" value="Сохранить изменения">
            </div>
        </form>
        </div>

                <!-- ПОПАП УСПЕШНОЙ РЕГИСТРАЦИИ -->
                <div class="overlay"></div>
                <div class="popup popup_registr" id="popup5">
                    <span class="close"></span>
                        <p class="register">
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        {% endif %}
                        </p>

                </div>
                <!-- ПОПАП УСПЕШНОЙ РЕГИСТРАЦИИ -->
    </main>
    <!-- .content -->

    {% if vk %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url vk=1 %}
    {% else %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url %}
    {% endif %}

{% endblock %}
