{% extends 'base.html' %}

{% block page_title %}
    <title>Enter LK</title>
{% endblock %}

{% block addon_styles %}
    <link href="/static/css/style.css?version=201505051716" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

    {% include 'blocks/header.html' %}

    <main class="content">
        <h1 class="h1_class">ВОйти</h1>
        <div class="center_pass_form">
            <form method="POST" action='.'>{% csrf_token %}
                <p class="zag_form">Электронная почта:</p>
                <input type="text" name="username" class="type_text_s wi_d_305">

                <p class="zag_form mt_no_sta">Пароль</p>
                <input type="password" name="password" class="type_text_s wi_d_305 mar_bot30">
                <input class="blue_btn_sky ma_r_le2" type="submit" value="Авторизоваться">
                <div class="overlay"></div>
                <div class="popup popup_registr" id="popup5">
                    <span class="close"></span>
                        {% if messages %}
                        <p class="register">
                            {% for message in messages %}
                                {{ message }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </p>
                        {% endif %}
                </div>
                {% if messages %}
                    <script>
                        $('#popup5').show();
                        $('.overlay').show();
                    </script>
                {% endif %}
            </form>

            <p class="style_cl_blue_text">Или войти с помощью соц. сетей:</p>
            <ul class="social_big_btns">
                <li><a class="ok_big" href="{% url 'social:begin' 'odnoklassniki-oauth2' %}"></a></li>
                <li><a class="face_big" href="{% url 'social:begin' 'facebook' %}"></a></li>
                <li><a class="vk_big" href="{% url 'social:begin' 'vk-oauth2' %}"></a></li>
                <!-- <li><a class="vk_big" href="https://vk.com/app3049236"></a></li> -->
            </ul>

            <ul class="forget_password">
                <li><a class="right_margin_40" href="/registration/">Зарегистрироваться</a></li>
                <li><a class="" href="/password/reset/">Забыли пароль</a></li>

            </ul>


        </div>
    </main>

    <div class="overlay1"></div>
    <div class="popup popup_registr" id="popup115">
            <p class="register">
            Осуществляю вход. Подождите...
            </p>

    </div>

    <script>
    function showEnterPopup () {
        $('#popup115').show();
        $('.overlay1').show();
    }
    $('.ok_big').add('.face_big').add('.vk_big').on('click', function() {
        showEnterPopup();
    })
    </script>

    <!-- .content -->

    {% include 'blocks/footer.html' with  vk_share_url=vk_share_url share_url=share_url  %}

{% endblock %}
