{% extends 'base.html' %}

{% block page_title %}
    <title>Join trainer</title>
{% endblock %}


{% block content %}

{% if debug %}
    <div class="overlay"></div>
    <div class="popup popup_registr" id="popup5">
        <span class="close"></span>
            <p class="register">
                Внимание! Это приложение тестовое, прохождение программ здесь не даст вам дополнительных бонусов для получения приза. Следите за рекламой и пользуйтесь официальным ресурсом
            </p>
    </div>
    <script type="text/javascript">
        function showPopup () {
            $('#popup5').show();
            $('.overlay').show();
        }

        showPopup()
    </script>
{% endif %}


    {% include 'blocks/header.html' with day=day trainer=trainer is_trainers=1 %}

    <main class="content">
        <h1 class="h1_class">Выберите тренера </h1>

        <div class="treners_wrapp_block">

        {% for trainer in trainers%}

            <div class="popup-wrapper trainer{{trainer.id}}" style='display: none; position: absolute; z-index:10; padding: 0; top: -45px;'>
                <div class="video-wrapper">
                    <video id="join_video" class='join_video' style="box-sizing: border-box; max-width: 100%" width="744" height="369">
                        <source src="{{trainer.video_intro_url}}" type='video/mp4'/>
                    </video>
                </div>
                <div class="popup-padding"  style='position: relative; z-index:1;'>
                    <p class="about">{{trainer.about_methodic}}</p>
                    <ul class="btns-list clearfix">
                        <li>
                            <a href="/trainers/{% if vk %}vk/{% endif %}" class="btn-back">Вернуться к выбору</a>
                        </li>
                        <li>
                            <a href="/diet/{% if vk %}vk/{% endif %}?trainer_id={{trainer.id}}" class="btn-choose">Выбрать тренера</a>
                        </li>
                    </ul>
                </div>

            </div>

            {% if forloop.first %}
            <div class="left_tren_block hovers trainer1">
                <div class="progress_block">
                    <p class="progr">Прогресс</p>

                    <div class="bl_tic_progress">
                        <ul class="progr_ul">
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                        </ul>
                    </div>
                    <p class="percents">0<span>%</span></p>
                </div>
            {% elif forloop.last %}
            <div class="right_tren_block hovers trainer3">
                <div class="progress_block">
                    <p class="progr">Прогресс</p>

                    <div class="bl_tic_progress">
                        <ul class="progr_ul">
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                        </ul>
                    </div>
                    <p class="percents">0<span>%</span></p>
                </div>
            {% else %}
            <div class="center_tren_block hovers trainer2">
                <div class="progress_block">
                    <p class="progr">Прогресс</p>

                    <div class="bl_tic_progress">
                        <ul class="progr_ul">
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                            <li class="tic passive_tic"></li>
                        </ul>
                    </div>
                    <p class="percents">0<span>%</span></p>
                </div>
            {% endif %}
                <div class="images_blocks second_chel">
                    <div class="speach {% if forloop.first%}sc_bl__for_left{% else %}sc_bl{% endif %}" {% if forloop.first%}sc_bl__to_right{% endif %}>
                        <span class="{% if forloop.first%}arr__for_left{% else %}arr{% endif %} {% if forloop.first%}se__for_left{% else %}se{% endif %}"></span>
                        <p>{{trainer.about_methodic}}</p>
                    </div>
                    <a class='choose_trainer_intro' href="javascript:{}"><img class="blur" src="{{trainer.image}}" alt=""></a>
                </div>
            </div>
        {% endfor %}
        </div>
    </main>
    <!-- .content -->

    <script>
        $('.join_video').on('ended', function() {
            location.reload()
        });

        $('.choose_trainer_intro').on('click', function() {
            var hover_block = $(this).parents('.hovers')[0];

            $('.popup-wrapper video').each(function() {$(this).stop()});

            for (var i=1; i<=3; i++) {
                if($(hover_block).hasClass('trainer'+i)) {
                    $('.popup-wrapper.trainer'+i).show();
                    $('.popup-wrapper.trainer' + i + ' video')[0].play()
                }
            }

        })

        $.ajax({
            type: 'GET',
            url: "/api/trainers/",
        }).done(function(res) {
            var progress = res.days;

            if(!progress) {
                return false;
            }

            var end_curs_html = '<p class="end_curs">Курс пройден</p><a href="#" class="learn_curs_ag reset_curs" trainer="666">пройти еще раз?</a>';
            if(progress[1].percent == 100) {
                end_curs_html_current = end_curs_html.replace(/666/,'1');
                $($('.left_tren_block.trainer1').find('.progress_block')[0]).html(end_curs_html_current);
            } else {
                end_curs_html_current = end_curs_html.replace(/666/,'1');
                $($('.left_tren_block.trainer1').find('.progr_ul')[0]).html(progress[1].html);
                $($('.left_tren_block.trainer1').find('.percents')[0]).html(progress[1].percent + '<span>%</span>');
            };

            if(progress[2].percent == 100) {
                end_curs_html_current = end_curs_html.replace(/666/,'2');
                $($('.center_tren_block.trainer2').find('.progress_block')[0]).html(end_curs_html_current);
            } else {
                $($('.center_tren_block.trainer2').find('.progr_ul')[0]).html(progress[2].html);
                $($('.center_tren_block.trainer2').find('.percents')[0]).html(progress[2].percent + "<span>%</span>");
            }

            if(progress[3].percent == 100) {
                end_curs_html_current = end_curs_html.replace(/666/,'3');
                $($('.right_tren_block.trainer1').find('.progress_block')[0]).html(end_curs_html_current);
            } else {
                $($('.right_tren_block.trainer3').find('.progr_ul')[0]).html(progress[3].html);
                $($('.right_tren_block.trainer3').find('.percents')[0]).html(progress[3].percent + "<span>%</span>");
            }

            $('.reset_curs').on('click', function() {
                var trainer_id = $(this).attr('trainer');
                $.ajax({
                    type: 'GET',
                    url: "/api/trainer/reset/?trainer_id=" + trainer_id,
                }).done(function(res) {
                    location.href = "/diet/?trainer_id="+trainer_id
                });
            })
        }).error(function(error) {
            console.log(error)
        });

    </script>


    {% if vk %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url vk=1 %}
    {% else %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url %}
    {% endif %}

{% endblock %}
