{% extends 'base.html' %}

{% block page_title %}
    <title>Program</title>
{% endblock %}


{% block content %}

    {% include 'blocks/header.html' with day=day trainer=trainer trainer_day=trainer_day last_day=last_day is_diet=1 %}

    <main class="content">
        <h1 class="h1_class">Программа питания</h1>

        <div class="left_treners_block">
            <div class="video_block">
                <video id="motivation_video" poster="/static/images/poster.jpg" autoplay>
                    <source src="{{videos.first.video_url}}" type='video/mp4'/>
                </video>
            </div>
        </div>

        <div class='auto_play_videos' style='display:none'>
            <div class='item active'>{{videos.first.video_url}}</div>

            {% for video in videos.other %}
            <div class='item motivation {% if forloop.first %}first{% endif %}{% if forloop.last %}last{% endif %}'>{{ video.video_url }}</div>
            {% endfor %}
        </div>


        <div class="right_tabs_blocks">
            <div class="lojka"><img src="/static/images/lojka.png" alt=""></div>
            <div class="tabs_wrappr">
                <div id="wrapper_carousel_shema_proesda">
                    <div class="green_carusel">
                        <ul class="jcarousel-skin-tango tabss" id="mycarousel_shema_proesda">

                            <li class="active">
                                <a href="#tab11">Завтрак</a>
                            </li>
                            <li>
                                <a href="#tab12">Ланч</a>
                            </li>
                            <li>
                                <a href="#tab13">Обед</a>
                            </li>
                            <li>
                                <a href="#tab14">Полдник</a>
                            </li>
                            <li>
                                <a href="#tab15">Ужин</a>
                            </li>
                            <li>
                                <a href="#tab16">Рекомендации</a>
                            </li>
                        </ul>
                    </div>


                    <div class="bott_tabs_block">
                        <div class="tab_containers">
                            <div id="tab11" class="tab_contents">
                                {{ diet.eat1|safe }}
                            </div>
                            <div id="tab12" class="tab_contents">
                                {{ diet.eat2|safe }}
                            </div>
                            <div id="tab13" class="tab_contents">
                                {{ diet.eat3|safe }}
                            </div>
                            <div id="tab14" class="tab_contents">
                                {{ diet.eat4|safe }}
                            </div>
                            <div id="tab15" class="tab_contents">
                                {{ diet.eat5|safe }}
                            </div>
                            <div id="tab16" class="tab_contents">
                                {{ diet.recommend|safe }}
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <a href="/exercises/{% if vk %}vk/{% endif %}?trainer_id={{trainer.id}}{% if last_day %}&last_day={{last_day}}{% endif %}" class="blue_btn_sky dib">Перейти к тренировке</a>
        </div>

    </main>
<script>

    var getLocation = function(href) {
        var l = document.createElement("a");
        l.href = href;
        return l;
    };

    $('#motivation_video').on('play', function() {
        var src = $(this).children('source')[0];
        $('.auto_play_videos div').removeClass('active');
        var path = getLocation(src.src).pathname
        $(".auto_play_videos div:contains('" + path + "')").addClass('active');
    });

    $('#motivation_video').on('ended', function() {
        var videos = $('.auto_play_videos div');

        for (var i=0; i<videos.length;i++) {
            if($(videos[i]).hasClass('active')) {

                var next_video; 
                if($(videos[i]).hasClass('last')) {
                    next_video = $('.auto_play_videos div.first')[0];
                } else {
                    next_video = $(videos[i]).next()[0];
                };


                var video = $('#motivation_video source')[0];
                video.src = next_video.innerText;
                $('#motivation_video').load()
            }
        }
    })
</script>

    {% if vk %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url vk=1 %}
    {% else %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url %}
    {% endif %}

    <script type="text/javascript">
        ga('send', 'pageview', 'eat program');

        $(document).ready(function(){
            $('.jcarousel-item a').on('click', function() {
                ga('send', 'eating', 'switching');
            })
        })
    </script>

{% endblock %}
