{% extends 'base.html' %}

{% block page_title %}
    <title>Promo</title>
{% endblock %}


{% block content %}

{% if debug %}
    <div class="overlay"></div>
    <div class="popup popup_registr" id="popup5">
        <span class="close"></span>
            <p class="register">
                Внимание! Это приложение тестовое, прохождение программ здесь не даст вам дополнительных бонусов для получения приза. Следите за рекламой и пользуйтесь официальным ресурсом
            </p>
    </div>
    <script type="text/javascript">
        function showPopup () {
            $('#popup5').show();
            $('.overlay').show();
        }

        showPopup()
    </script>
{% endif %}

    <main class="content_promo">

        <div class="popup-wrapper intro" style='display: none; position: absolute; z-index:10; padding: 0; top: 80px;'>
            <div class="video-wrapper" style='position: relative; z-index:1;'>
                <video id="promo_video" style="box-sizing:border-box; width: 810px; height: 474px; position: relative; z-index:2;">
                    <source src="/static/video/program_intro_810x474_logo_4.mp4" type='video/mp4'/>
                </video>
            </div>
            <div class="popup-padding" style='position: relative; z-index:3;'>
                <ul class="btns-list clearfix">
                    <li>
                        <a href="/trainers/{% if vk %}vk/{% endif %}" class="btn-choose" style='position: relative; z-index:5;'>пропустить</a>
                    </li>
                </ul>
            </div>
            <script>

            </script>
        </div>

        <div class="blue_blocks_top">
            <p><span>ВЫИГРАЙ</span> ПОЕЗДКУ НА БАЛИ!</p>
        </div>

        <div class="con_bl">
            <div class="left_part">
                <div class="image_promo">
                    <img src="/static/images/fit_promo.png" alt="">
                </div>
                <div class="text_block_promo">
                    <p>1. <span>Выбери</span> персонального тренера</p>

                    <p>2. Регулярно <span>занимайся</span> и собирай баллы</p>

                    <p>3. <span>Выиграй</span> поездку на Бали!</p>
                </div>
            </div>
            <div class="right_part">
                <p class="big_text">ешь
                    худей
                    люби</p>
                <p class="big_a">вместе с<span class="pr"></span></p>
                <a href="javascript:{}" class="to_tran">выбрать тренера</a>
            </div>
        </div>

    </main>
    <!-- .content -->
<script>

        $('#promo_video').on('ended', function() {
            $('.btn-choose')[0].click();
        })

        $('.to_tran').on('click', function() {
            $('.popup-wrapper').show()
            $('.popup-wrapper video')[0].play()
        })
    </script>
 

    {% if vk %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url vk=1 %}
    {% else %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url %}
    {% endif %}


{% endblock %}
