{% extends 'base.html' %}

{% block page_title %}
    <title>Rating</title>
{% endblock %}


{% block content %}

    {% include 'blocks/header.html' with day=day trainer=trainer is_rating=1 %}

    <main class="content">
        <h1 class="h1_class">Рейтинг</h1>

        <div class="wrapp_ratings">
            <div class="top_rating_head">
                <ul>
                    <li class="ml_1">Участники</li>
                    <li class="ml_2">БАЛЛЫ</li>
                    <li class="ml_3">Дни</li>
                </ul>
            </div>
            <div class="content_part_rating">
                <div class="we_conts">
                    <div class="scroll-paned">

                        {% if rating_table_data %}
                            {% for item in rating_table_data %}
                                <div class="one_user_rating">
                                    <div class="ava_users">
                                        <img src="{% if item.user.avatar %}{{ item.user.avatar.url }}{% else %}/static/images/userpic-1.png{% endif %}" alt="">
                                    </div>
                                    <div class="div_named_user">
                                        <p class="text_colors_a">{{item.user.last_name}}{% if item.user.last_name %} {% endif %}{{item.user.first_name}}, {{item.user.city}}</p>
                                    </div>
                                    <div class="zayavki_numb">
                                        <p class="text_colors_a">{{ item.stats }}</p>
                                    </div>
                                    <div class="days_user">
                                        <p class="text_colors_a">{{ item.day }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
                {% if user.username %}
                <div class="one_user_rating cl_ra bottom">
                    <div class="ava_users">
                        <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}/static/images/avat_anketa.png{% endif %}" alt="">
                    </div>
                    <div class="div_named_user">
                        <p class="text_colors_a">{{user.last_name}}{% if user.last_name %} {% endif %}{{user.first_name}}, {{user.city}}</p>
                    </div>
                    <div class="zayavki_numb">
                        <p class="text_colors_a">{{statements_total}}</p>
                    </div>
                    <div class="days_user">
                        <p class="text_colors_a">{{day}}</p>
                    </div>
                </div>
                {% endif %}

            </div>

        </div>


    </main>
    <!-- .content -->

    {% if vk %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url vk=1 %}
    {% else %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url %}
    {% endif %}

{% endblock %}
