{% extends 'base.html' %}

{% block page_title %}
    <title>Registration</title>
{% endblock %}

{% block addon_styles %}
    <link href="/static/css/style.css?version=201505051716" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

    {% include 'blocks/header.html' %}

    <main class="content">
        <h1 class="h1_class">Регистрация</h1>
        <form enctype="multipart/form-data" method="post" action="/registration/" formnovalidate>
            {% csrf_token %}
            <div class="left_load_avatar_block">
                <div class="avatar_photo">
                    <div class="load_photo">
                        <input class="hidd_type" type="file" size="1">
                    </div>
                </div>

                <p class="gray_small_size mar_for_sm_text">Заполнить с помощью соц. сетей:</p>
                <ul class="social_big_btns tal">
                    <li><a class="ok_big" href="{% url 'social:begin' 'odnoklassniki-oauth2' %}"></a></li>
                    <li><a class="face_big" href="{% url 'social:begin' 'facebook' %}"></a></li>
                    <li><a class="vk_big" href="{% url 'social:begin' 'vk-oauth2' %}"></a></li>
                </ul>
            </div>

            <div class="right_form_block_register">
                <p class="gray_small_size">Поля, обязательные для заполнения, выделены <span class="star">*</span></p>

                <div class="left_inp">
                    <p class="zag_form_n_m">Имя<span class="star">*</span></p>
                    <input class="type_text_s wi_d_245" type="text" name="first_name" maxlength="255" tabindex="1" value="{{ form.first_name.value|default:'' }}">

                    <p class="zag_form_n_m">Город<span class="star">*</span></p>
                    <input class="type_text_s wi_d_245" type="text" name="city" maxlength="255" tabindex="3" value="{{ form.city.value|default:'' }}">

                    <div class="wr_all_param">
                        <div class="parametres weight">
                        <p class="zag_form_n_m">Вес<span class="star">*</span></p>
                        <input class="type_text_s wi_d_65" type="text" name="weight" maxlength="3" tabindex="4" value="{{ form.weight.value|default:'' }}"><span>кг</span>
                    </div>
                    <div class="parametres age">
                        <p class="zag_form_n_m">Возраст<span class="star">*</span></p>
                        <input class="type_text_s wi_d_35" type="text" name="age" maxlength="2" tabindex="5" value="{{ form.age.value|default:'' }}"><span>лет</span>
                    </div>
                    <div class="parametres growth">
                        <p class="zag_form_n_m">Рост<span class="star">*</span></p>
                        <input class="type_text_s wi_d_45" type="text" name="growth" maxlength="3" tabindex="6" value="{{ form.growth.value|default:'' }}"><span>см</span>
                    </div>
                    <div class="clear"></div>
                    </div>
                    <p class="zag_form_n_m">Электронная почта<span class="star">*</span></p>
                    <input class="type_text_s wi_d_245" type="email" name="email" maxlength="255" tabindex="7" value="{{ form.email.value|default:'' }}" required>
                </div>

                <div class="right_inp">
                    <p class="zag_form_n_m">Фамилия<span class="star">*</span></p>
                    <input class="type_text_s wi_d_245" type="text" name="last_name" maxlength="255" tabindex="2" value="{{ form.last_name.value |default:''}}">

                    <p class="zag_form_n_m an_mar_b">Пол<span class="star">*</span></p>
                    <div class="radioblock">
                        <div class="radio">Женский</div>
                        <div class="radio">Мужской</div>
                        <div class="clear"></div>
                        <input type="hidden" name="sex" />
                    </div>

                    <p class="zag_form_n_m another_margin">Пароль<span class="star">*</span></p>
                    <input class="type_text_s wi_d_245" type="password" name="password" maxlength="255" tabindex="8" value="{{ form.password.value|default:'' }}">

                </div>
                <div class="clear"></div>
                <div class="checkboxes mar_check">
                    <div class="check">
                        <p class="gray_small_size padd_sma">Я соглашаюсь на участие в конкурсе и публикацию персональных данных</p>
                        <input type="checkbox" value="true" tabindex="9" />
                    </div>
                </div>

                <input class="blue_btn_sky gr_a send_sbm" type="submit" rel="popup5" tabindex="10"  disabled value="Далее">

                <!-- ИНФОМАЦИОННЫЙ ПОПАП  -->
                <div class="overlay"></div>
                <div class="popup popup_registr" id="popup5">
                    <span class="close"></span>
                        <p class="register">
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        {% endif %}
                        </p>

                </div>
                <!-- END -->
            </div>
        </form>
    </main>
    <!-- .content -->

    {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url %}

    <script type="text/javascript">
        ga('send', 'pageview', 'registration');
    </script>

{% endblock %}
