{% extends 'base.html' %}

{% block page_title %}
    <title>Rules</title>
{% endblock %}


{% block content %}

    {% include 'blocks/header.html' with day=day trainer=trainer vk_share_url=vk_share_url share_url=share_url  %}

    <main class="content">
        <h1 class="h1_class">Правила</h1>

        <div class="rules">
            <div class="we_conts">
                <div class="scroll-pane">
                    <p class="par_gr"> &nbsp;</p>

                    <p class="bl_text">ПОЛНЫЕ ПРАВИЛА</p>

                    <a href="/static/files/rules.pdf" class="downl_pdf rules_file" target="_blank" download="">Скачать полные правила</a>

                </div>
            </div>
        </div>

    </main>
    <!-- .content -->

    {% if vk %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url vk=1 %}
    {% else %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url %}
    {% endif %}

<script type="text/javascript">
    $('.rules_file'). on('click', function() {
        ga('send', 'download', 'rules');
    })
</script>

{% endblock %}
