{% extends 'base.html' %}

{% block page_title %}
    <title>Training</title>
{% endblock %}


{% block content %}

    {% include 'blocks/header.html' with day=day trainer=trainer trainer_day=trainer_day last_day=last_day is_exercises=1 %}

<script src="/static/js/timing.js" type="text/javascript"></script>
<main class="content">
    <h1 class="h1_class">Тренировка</h1>

    <div class="left_treners_block">
        <div class="video_block">
            <video id="motivation_video" poster="/static/images/poster.jpg" autoplay>
                <source src="{{ videos.before }}" type='video/mp4'/>
            </video>
        </div>
        <div class='auto_play_videos' style='display:none'>
            <div class='item active'>{{videos.before}}</div>

            {% for exercise in exercises %}
            <div class='item exercise' id='video{{exercise.id}}'>{{exercise.video_url}}</div>
            {% endfor %}

            <div class='item'>{{videos.after}}</div>

            {% for movie in motivations %}
            <div class='item motivation {% if forloop.first %}first{% endif %}{% if forloop.last %}last{% endif %}'>{{ movie.video_url }}</div>
            {% endfor %}
        </div>


        <div class="list">
            <div class="pr_s">
                <div class="left_l"></div>
                <div class="right_l"></div>
                    <marquee scrollamount="5">
                        <span>Зачем ждать понедельника, чтобы начать новую жизнь?</span>

                        <span>Ты молодец. Продолжай заниматься!</span>

                        <span>Ты на пути к идеальной фигуре!</span>

                        <span>Сегодня ты побьешь свой рекорд.</span>

                        <span>Поднимай свой рейтинг за регулярные тренировки, поднимайся в рейтинге и выигрывай поездку на Бали!</span>

                        <span>Легко отступить. Трудно наверстать. Не сдавайся!</span>

                        <span>Похудеем к лету вместе!</span>

                        <span>Ты сегодня отлично выглядишь!</span>

                        <span>Занимайся фитнесом, потому что ты любишь свое тело.</span>

                        <span>Мечты сбудутся, если работать над собой.</span>

                        <span>Красота начинается с уверенности в себе.</span>

                        <span>Не говори «сделаю завтра», сделай сегодня!</span>

                        <span>Занимайся с нашей программой 14 дней, ешь хлопья Fitness с цельными злаками и увидишь результат в сантиметрах.</span>

                    </marquee>
            </div>
        </div>

        <div class="bott_buttons">
            <a class="blue_btn_skya fl" href="/diet/{% if vk %}vk/{% endif %}?trainer_id={{ trainer.id }}{% if last_day %}&last_day={{last_day}}{% endif %}">Вернуться К программе питания</a>
            <a class="blue_btn_sky ore_c fr aa_orc" href="{% if user.username %}/diary/{% if vk %}vk/{% endif %}?trainer_id={{trainer.id}}{% if last_day %}&last_day={{last_day}}{% endif %}{% else %}/registration/{% endif %}">{% if user.username %}далее{% else %}зарегистрироваться{% endif %}</a>
        </div>
    </div>

    <div class="right_tr_block">

        <div class="wr_all_bl">
            {% for exercise in exercises %}
            <div class="link_block">
                <a href="#" class='exercise_select' id='ex{{exercise.id}}'>Упражнение №{{forloop.counter}}</a>

                <p>Рекомендовано:</p>

                <p class='recommend'>{{exercise.prescription_sets}} подход по {{exercise.prescription_repetitions}} раза</p>

                <p class='video_src' style='display:none;'>{{ exercise.video_url }}</p>
                <p class='descr_hidden' style='display:none;'>{{ exercise.description}}</p>
            </div>
            {% endfor %}
        </div>

        <div class="rig_a_k_block">
            <div>
                <p class="gr_big_t">БУДЕТ СОЖЖЕНО</p>

                <p class="spa_bl"><span>{{must_burned}}</span>калорий</p>
            </div>

            <div class="opis">
                <p class="bl_a">Описание упражнения:</p>
            
                <div class="scroll-pane pane_scr">
                    <p class="gr_t">{{exercises.0.description}}</p>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- .content -->
    <script type="text/javascript">
        $.ajax({
            type: 'GET',
            url: '/api/trainer/exercises/?trainer_id={{trainer.id}}{% if last_day %}&last_day={{last_day}}{% endif %}',
        }).done(function(response) {
            if (response.exercises) {
                var exercises = response.exercises;
                var urls_to_change = $('.auto_play_videos .exercise');
                var blocks_to_change = $('.wr_all_bl .link_block');
                for(var i=0;i<exercises.length;i++) {
                    $(urls_to_change[i])[0].innerText = exercises[i].video_url;
                    $(blocks_to_change[i]).find('.recommend')[0].innerHtml = '<p class="recommend">' + exercises[i].prescription_sets + ' подход по ' + exercises[i].prescription_repetitions + ' раза</p>';
                    $(blocks_to_change[i]).find('.video_src')[0].innerText = exercises[i].video_url;
                    $(blocks_to_change[i]).find('.descr_hidden')[0].innerText = exercises[i].description;
                }
                
            }
        }).fail(function(error){
            console.log('error:')
            console.log(error)
        })
        $('.exercise_select').on('click', function(){
            $('.exercise_select').removeClass('active');
            $(this).addClass('active');

            var parent = $(this).parent();
            $('.gr_t')[0].innerText = parent.children('.descr_hidden')[0].innerText;

            var video = $('#motivation_video source')[0];
            video.src = parent.children('.video_src')[0].innerText;
            $('#motivation_video').load()
            $('.scroll-pane').data('jsp').reinitialise();
        })

        var getLocation = function(href) {
            var l = document.createElement("a");
            l.href = href;
            return l;
        };

        $('#motivation_video').on('play', function() {
            var src = $(this).children('source')[0];
            $('.auto_play_videos div').removeClass('active');
            var path = getLocation(src.src).pathname
            $(".auto_play_videos div:contains('" + path + "')").addClass('active');
        });

        $('#motivation_video').on('ended', function() {
            var videos = $('.auto_play_videos div');

            for (var i=0; i<videos.length;i++) {
                if($(videos[i]).hasClass('active')) {
                    if($(videos[i]).hasClass('exercise')) {
                        var exercise_id = $(videos[i]).attr('id').replace("video", "");
                        $.ajax({
                            type: 'GET',
                            url: "/api/video/viewed/?done=1&exercise_id=" + exercise_id,
                        }).done(function(res) {
                            console.log('result: ' + res.video + ' or error: ' + res.error)
                        });
                    };

                    var next_video; 
                    if($(videos[i]).hasClass('last')) {
                        next_video = $('.auto_play_videos div.first')[0];
                    } else {
                        next_video = $(videos[i]).next()[0];
                    };

                    $('.exercise_select').removeClass('active');
                    $('.gr_t')[0].innerText = ""
                    if($(next_video).hasClass('exercise')) {
                        var exercise_id = $(next_video).attr('id').replace("video", "");
                        $('.exercise_select#ex' + exercise_id).trigger('click');
                    };

                    var video = $('#motivation_video source')[0];
                    video.src = next_video.innerText;
                    $('#motivation_video').load()
                }
            }
        })

        $.ajax({
            type: 'GET',
            {% if trainer %}
            url: '/api/trainer/day/?trainer_id=' + {{trainer.id}},
            {% else %}
            url: '/api/trainer/day/',
            {% endif %}
        }).done(function(response) {
            if (response.trainer_day) {
                $('div.shkala_block').attr('attr',response.trainer_day);
                updateScale({% if last_day%}{{last_day}}{% else %}response.trainer_day{% endif %});
            }
        }).fail(function(error){
            console.log('error:')
            console.log(error)
        })
    </script>

    {% if vk %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url vk=1 %}
    {% else %}
        {% include 'blocks/footer.html' with vk_share_url=vk_share_url share_url=share_url %}
    {% endif %}

{% endblock %}
